---
info_slug: legal
title: legal
est: |
  Established in 2008 by three odd siblings.
  [Code of Conduct](/conduct/).
---

{{ est | md | safe }}

<p class="h-card p-org">
  Copyright © 2009&ndash;{% getDate 'year' %}
  <a href="{{ site.url }}" class="p-name u-url u-uid" rel="me">
    {{ site.title }}
  </a>
</p>
