{% set alert = collections.all | findPage('data.info_slug', 'alert') %}

{% if alert and (alert.data.live) %}
  <aside data-layout="alert" data-ccs-colors="dark" aria-label="{{ alert.data.aria }}">
    {{ alert.templateContent | safe }}
  </aside>
{% endif %}
