<header data-layout="banner" aria-label="site">
  <a href="/"
    rel="home"
    id="banner-logo"
    aria-label="OddBird.Net"
    >
    {% include "logos/oddbird.svg" %}
  </a>

  <div data-layout="menu">
    {% include "site/search.njk" %}
    {% include "site/ccs.njk" %}
  </div>

  {% include "site/nav.njk" %}
</header>
