{% import 'site/nav.macros.njk' as nav %}

<div data-layout="banner">
  <header class="brand">
    <a href="/" rel="home" class="logo-link">
      {% include "icons/oddbird.svg" %}
    </a>
  </header>

  <nav data-layout="nav">
    {{ nav.list(sitenav, page, collections.all) }}
  </nav>

  <span class="nav-contact">
    <a href="{{ sie.contact }}">contact us</a>
  </span>
</div>

