<div data-layout="banner">
  <a href="/"
    rel="home"
    class="banner-logo"
    aria-label="OddBird.Net"
    >
    {% include "icons/oddbird.svg" %}
  </a>

  <div data-layout="menu">
    {# include "site/search.njk" #}
    {% include "site/ccs.njk" %}
  </div>

  {% include "site/nav.njk" %}
</div>
