{% import 'embed.macros.njk' as embed %}

{% set cta = collections.all | findPage('data.cta_slug', cta or 'default') %}

{% if cta %}
  <aside data-layout="cta" class="has-angles" aria-labelledby="cta-title">
    {% set image = cta.data.image %}
    {{ embed.img(
      src=image.src,
      alt=image.alt,
      width=image.width,
      height=image.height
    ) }}

    {% set cta_content %}
      <h2 id="cta-title">{{ cta.data.title | mdInline | safe }}</h2>
      {{ cta.templateContent | safe }}
    {% endset %}

    {% if cta.data.face %}
      {% set face = 'faces/' + (cta.data.embed.face or 'miriam') %}
      {{ embed.media_block(
        media=embed.svg(face),
        content=cta_content
      ) }}
    {% else %}
      {{ cta_content | safe }}
    {% endif %}
  </aside>
{% endif %}
