{% import 'contact.macros.njk' as contact %}

<footer
  data-layout="footer">

  <p>
    Copyright © {% getDate 'year' %}
    {{ site.title }}
  </p>

  {% if page.url | url != '/contact/' %}
    {{ contact.form() }}
  {% endif %}

  <p class="colophon">
    {% mdInline %}
      Built with
      [Eleventy](https://11ty.io/);
      styled with
      [Sass](https://sass-lang.com/),
      [Accoutrement](/accoutrement/),
      and
      [Cascading Color Systems](https://cascading-colors.netlify.com/);
      and
      [documented](/style/)
      with
      [Herman](/herman/)/[SassDoc](https://sassdoc.com/).
    {% endmdInline %}
  </p>
</footer>

