{% import 'embed.macros.njk' as embed %}
{% import 'layout.macros.njk' as layout %}

{%- set title = '<span class="title-action">Hire Us to Build</span> Custom Web Apps <span class="title-description">That stand the test of time</span>' -%}

<aside data-layout="cta" aria-labelledby="cta-title" class="hire-us-cta" data-ccs-colors="dark">
  {% set cta_content %}
    <h2 id="cta-title" class="hire-cta-title">{{ title | mdInline | safe }}</h2>

    {{ layout.section_link("Let's chat", '/contact/') }}
    {{ contents | md | safe }}
   {% endset %}

     {{ embed.media_block(
      name='hire-cta',
      media=embed.screen(
      fill='#78080A',
      content=embed.img(
        src='work/adobe/vintage-mobile.jpg',
        alt='Mobile view of the vintage font tag question',
        sizes='media'
      )
    ),
    content=cta_content
  ) }}


</aside>
