{% import 'utility.macros.njk' as utility %}

<nav data-layout="nav" aria-label="primary">
  <ul data-navlist="main">
    {% for item in site.nav %}

      <li {{ utility.attr_if('dropdown-menu', item.menu) }}>
        {% if item.menu %}
          <button popovertarget="popover-{{item.menu}}">
            {{ item.title or target.title or 'ERROR' }}
          </button>
          <ul popover id="popover-{{item.menu}}">
            {% for subitem in item.items %}
              {% set target = collections.all | getPage(subitem.url, 'data') %}
              {% set current = 'page' if (subitem.url == page.url) else none %}
              <li>
                <a href="{{ subitem.url }}"
                  data-nav="{{ subitem.url | slug }}"
                  {{ utility.attr_if('aria-current', current) }}>
                  {{ subitem.title or target.title or 'ERROR' }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          {% set target = collections.all | getPage(item.url, 'data') %}
          {% set current = 'page' if (item.url == page.url) else none %}
          <a href="{{ item.url }}"
            data-nav="{{ item.url | slug }}"
            {{ utility.attr_if('aria-current', current) }}>
            {{ item.title or target.title or 'ERROR' }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
