{% import 'utility.macros.njk' as utility %}

<nav data-layout="nav">
  <h2 data-hidden>Primary Navigation</h2>
  <ul data-navlist="main">
    {% for item in sitenav %}
      {% set target = collections.all | getPage(item.url) %}
      {% set active = 'nav' if (item.url == page.url) else none %}
      <li>
        <a href="{{ item.url }}"
          data-nav="{{ item.url | slug }}"
          {{ utility.attr_if('data-active', active) }}>
          {{ item.title or target.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
