{% set og_image = open_graph.img if (og and og.img == 'default') else og.img or image.src or open_graph.img %}
{%- set og_image = og_image if ('://' in (og_image or '') | string) else (site.images + og_image) | absoluteUrl(site.url) -%}
{%- set creatorPage = collections.birds | authorPage(author) if author else none -%}
{%- set creatorHandle = creatorPage.data.social.twitter if creatorPage else none -%}
{%- set creator = ['@', creatorPage.data.social.twitter] | join() if creatorHandle else open_graph.site -%}

<meta property="fb:app_id" content="{{ config.facebook_id }}" />
<meta property="og:locale" content="{{ open_graph.locale }}" />
<meta property="og:type" content="{{ og.type or open_graph.type }}" />
<meta property="og:title" content="{{ og.title or title }}" />
<meta property="og:image" content="{{ og_image }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="{{ perma }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta name="twitter:card" content="{{ og.twitter or 'summary' }}" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ og_image }}" />
<meta name="twitter:domain" content="{{ site.url }}" />
<meta name="twitter:site" content="{{ open_graph.site }}" />
<meta name="twitter:creator" content="{{ creator }}" />
