{% import 'embed.macros.njk' as embed %}

<aside data-layout="cta" aria-labelledby="hire-cta-title" class="hire-us-cta" data-ccs-colors="invert">
  {% call embed.media_block(
    name='sponsor-cta',
    media=embed.screen(
      fill='#dbd8df',
      content=embed.img(
        src='work/adobe/luxury-mobile.jpg',
        alt='Mobile view of the luxury font tag question',
        sizes='media'
      )
    )
  ) %}
    <h2 id="hire-cta-title" data-header='stacked hire-cta'>
      <span class="title-action">Hire Us to Develop</span>
      Languages & Tools
      <span class="title-description">That you depend on</span>
    </h2>

    <a href='/contact/' data-btn="link-button" role="button" class="section-link" draggable="false">Let's chat</a>
  {% endcall %}
</aside>
