---
title: About
banner: About OddBird
sub: Founded in 2008 by three odd siblings
permalink: birds/index.html
bird: oddbird
image:
  svg: faces/oddbird
summary: |
  **As a client, you'll get to know our tight-knit team**
  on a first-name basis,
  with direct access to everyone involved.
  We'll all learn what makes your company special,
  and discuss features as a team –
  keeping backend, frontend, and design integrated
  for a shared understanding of your project and goals.
---

{% import 'utility.macros.njk' as utility %}
{% import 'embed.macros.njk' as embed %}
{% import 'layout.macros.njk' as layout %}
{% import 'contact.macros.njk' as contact %}

{{ layout.title('Meet the birds') }}

{% set style = {
  '--media-content': 'var(--small-page)'
} | styles %}

{% call layout.grid(attrs={'style': style}) %}
  {% for bird in collections.birds | active %}
    {% call embed.media_block(
      media=embed.svg('faces/' + bird.data.bird),
      name='bird'
    ) %}
      <h3>{{ utility.link_if(bird.data.title, bird.url) }}</h3>

      {{ bird.data.summary | md | safe }}

      {{ contact.social(
        data=bird.data.social,
        name=bird.data.bird | capitalize
      ) }}
    {% endcall %}
  {% endfor %}
{% endcall %}
