---
title: About
banner: About OddBird
sub: The people you'll work with...
permalink: birds/index.html
image:
  svg: faces/allbirds
summary: |
  **As a client, you'll get to know our tight-knit team**
  on a first-name basis,
  with direct access to everyone involved.
  We'll all learn what makes your company special,
  and discuss features as a team –
  keeping backend, frontend, and design integrated
  for a shared understanding of your project and goals.
---

{% import 'utility.macros.njk' as utility %}
{% import 'embed.macros.njk' as embed %}
{% import 'layout.macros.njk' as layout %}
{% import 'contact.macros.njk' as contact %}

{% call layout.grid() %}
  {% for bird in collections.birds | active %}
    {% call embed.media_block(
      media=embed.svg('faces/' + bird.data.bird),
      name='bird'
    ) %}
      <h2>{{ utility.link_if(bird.data.title, bird.url) }}</h2>

      {{ bird.data.summary | md | safe }}

      {{ contact.social(
        data=bird.data.social,
        name=bird.data.bird | capitalize
      ) }}
    {% endcall %}
  {% endfor %}
{% endcall %}
