!.*
.git/
.nyc_output/
.pnp.cjs
.pnp.loader.mjs
.vscode/
.yarn/
.yarnrc
.yarnrc.yml
_built/
_site/
content/_data/webmentions.json
coverage/
htmlcov/
jscache/
netlify-plugins/
node_modules/
src/docs/
src/filters/image_cache.json
