# This legacy file is only needed to trick Netlify deploys into using the local
# version of Yarn2.

yarn-path ".yarn/releases/yarn-rc.js"
--install.immutable true
--install.immutable-cache true
--install.check-cache true
