@use '~accoutrement/sass/tools';

.event {
  margin-bottom: var(--newline);
}

.event-meta {
  @include tools.font-family('alt');

  font-size: var(--small);
}

.event-title {
  margin: 0;
}

.event-links {
  @include tools.wrap-content('[' ']');

  font-size: var(--small);
  font-style: italic;
}

// events listed on resource cards
.next-on {
  display: inline-block;
}
