@use '../config';

.event {
  margin-bottom: var(--newline);
}

.event-meta {
  @include config.font-family('alt');

  font-size: var(--small);
}

.event-title {
  margin: 0;
}

.event-discount,
.event-links {
  @include config.wrap-content('[' ']');

  font-size: var(--small);
  font-style: italic;
}

// events listed on post cards
.next-on {
  display: inline-block;
}
