/* stylelint-disable hue-degree-notation */

/* See https://github.com/stylelint/stylelint/issues/8983 */

inline-demo {
  border: medium solid var(--text);
  position: relative;
  margin-block: var(--gutter);

  --code-stripe-1: oklch(from var(--highlight) 0.99 0.1 h);
  --code-stripe-2: oklch(from var(--highlight) 0.97 0.1 h);

  &::part(editable-style) {
    display: block;
    white-space: pre;
    font-family: monospace;
    font-size: var(--code);
    padding: var(--shim);
    color: black;
    background: repeating-linear-gradient(
      45deg,
      var(--code-stripe-1),
      var(--code-stripe-1) 10px,
      var(--code-stripe-2) 10px,
      var(--code-stripe-2) 20px
    );
  }
}
