@use '~accoutrement/sass/tools';

[data-post] {
  --post-margin: var(--gutter);
  --fold: var(--triple-gutter);
  --drop: var(--half-shim);
  --drop-focus: var(--shim);
  --left: calc(var(--drop-focus) * -1);
  --bottom: calc(100% + var(--drop-focus));
  clip-path: polygon(
    var(--left) 0,
    calc(100% - var(--fold)) 0,
    100% var(--fold),
    100% var(--bottom),
    var(--left) var(--bottom)
  );
  display: grid;
  grid-area: post;
  grid-row-gap: var(--shim);
  grid-template:
    [hero-start] 'left type type' auto
    [hero-end] 'left main right' 1fr
    / [hero-start] var(--post-margin) minmax(min-content, var(--page)) var(
      --post-margin
    )
    [hero-end];
}

[data-post='link'] {
  @include tools.transition('pop');
  --hero-height: calc(var(--gutter) * 8);
  background: var(--card, var(--callout));
  box-shadow: calc(var(--drop) * -1) var(--drop) 0 var(--pop, var(--shadow));
  position: relative;

  &:hover,
  &:focus-within {
    --img-bright: 1;
    --img-contrast: 1;
    --drop: var(--drop-focus);
    --pop: var(--active);
    transition-delay: 20ms;
  }

  .title-link {
    --underline-color: transparent;
    display: block;

    &::after {
      @include tools.position(0 0 0 0);
      @include tools.z-index('bump');
      content: '';
      display: block;
    }
  }
}

[data-post='large'] {
  --post-margin: minmax(0, 1fr);
}

// Elements
// --------

[data-hero='post'] {
  grid-area: hero;
}

.type-flag {
  @include tools.font-family('alt');
  background: var(--highlight);
  color: var(--bg);
  font-size: var(--xsmall);
  grid-area: type;
  place-self: start end;
  margin: var(--half-shim) var(--quarter-shim);
  padding-right: var(--fold);
  text-transform: uppercase;

  &:link,
  &:visited {
    --fill: var(--bg);
    text-decoration: none;
    color: var(--bg);
  }

  &[href]:hover,
  &[href]:focus,
  &[href]:active {
    background: var(--feature);
  }

  [data-icon] {
    margin-left: var(--half-shim);
  }
}

.post-title {
  @include tools.font-family('alt');
  font-size: 1.25em;
  font-style: normal;
  margin: 0;

  [data-post='large'] & {
    font-size: var(--h2);
  }
}

.post-content {
  grid-area: main;
}

.post-header {
  --newline: var(--shim);
}

.subtitle {
  font-style: italic;
}

.byline {
  font-size: var(--small);
}

.summary {
  margin: var(--gutter) 0;
}
