---
layout: base
is_feed: true
eleventyComputed:
  title: 'Tag: {{ tag | displayName }}'
image:
  svg: icons/tags
  type: angle
summary: |
  For more resources,
  return to the
  [full resource list](/blog/)
  or
  [browse all tags](/tags/).
pagination:
  size: 1
  alias: tag
  filter:
    - all
    - sample_content
permalink: /tags/{{ tag | lower | slug }}/
---

{% import 'post.macros.njk' as post %}

{{ post.by_year(collections[tag], collections) }}
