{% macro heading(label, slug) %}
  <h3>
    <a href="#{{ slug }}">
      <code>{{ label }}()</code>
    </a>
  </h3>
{% endmacro %}

{% macro describe(pattern) %}
  {% if pattern.note %}
    {{ pattern.note | md | safe }}
  {% endif %}
  {{ params(pattern.params) }}
  {{ see(pattern.links) }}
  {{ todo(pattern.todo) }}
{% endmacro %}

{% macro params(list) %}
{% if list %}
  <ul data-dox="params">
    {% for key, item in list %}
      <li>
        <code>
          <strong>{{ key }}</strong>
          {% if item.type %}
            {{ '{' + item.type + '}' }}
          {% endif %}
          {% if item.default %}
            = <em>{{ item.default }}</em>
          {% endif %}
        </code>
        {% if item.note %}
          {{ item.note | md | safe }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endmacro %}

{% macro see(links) %}
  {% if links %}
    <h4>Links:</h4>
    <ul>
      {% for link in links %}
        <li>{{ link | mdInline | safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro todo(content) %}
  {% if content %}
    <h4>Todo:</h4>
    {{ content | md | safe }}
  {% endif %}
{% endmacro %}

{% macro code(njk) %}
  {%- if njk -%}
    {%- highlight "django" -%}{{ njk | safe }}{%- endhighlight -%}
  {%- endif -%}
{% endmacro %}
