{% import 'layout.macros.njk' as layout %}
{% import 'utility.macros.njk' as utility %}

{% macro list(
  title,
  events,
  all=true
) %}
  {%- set reverse = all -%}
  {%- set events = events if all else events | getFuture -%}
  {%- set events = events | sort(reverse, false, 'date') -%}
  {%- if events and (events | length > 0) -%}
    {%- if title -%}
      {{- layout.title(title) -}}
    {%- endif -%}
    <ol {{ 'reversed' if reverse else '' }}>
      {%- for event in events -%}
        <li>
          {%- if event | isFuture -%}
            <strong>[{{ utility.datetime(event.date) }}]</strong>
          {%- else -%}
            [{{ utility.datetime(event.date) }}]
          {%- endif %}
          {{ utility.link_if(event.venue, event.url) }}{% if event.adr %} {{ '--' | typogr | safe }}
          {{ event.adr }}{% endif %}
        </li>
      {%- endfor -%}
    </ol>
  {%- endif -%}
{% endmacro %}
