{% import 'layout.macros.njk' as layout %}
{% import 'embed.macros.njk' as embed %}
{% import 'post.macros.njk' as post %}

{# @docs
label: OSS Macros
category: file
#}

{% macro by_type(
  posts,
  collections
) %}
  {% for title, items in posts | ossGroups %}
    {{ list(
      items,
      collections,
      title
    ) }}
  {% endfor %}
{% endmacro %}

{% macro list(
  posts,
  collections,
  title='Open Source'
) %}
  {% if posts | length > 0 %}
    {%- if title -%}
      {{ layout.title(title) }}
    {%- endif -%}

    {% call layout.grid('open-source') %}
      {% for item in posts %}
        {{ summary(item, collections) }}
      {% endfor %}
    {% endcall %}
  {% endif %}
{% endmacro %}

{% macro summary(
  item,
  collections
) %}
{% set title = post.name(item) %}
<article {{ post.aria_label(item) }}>
  <header>
    {% call post.banner(item, called=true) %}
      {% if item.data.logo %}
        {{ embed.svg(
          path='logos/' + item.data.logo,
          alt=title
        ) }}
      {% else %}
        {{ title }}
      {% endif %}
    {% endcall %}
    {{ post.subtitle(item.data.sub, collections) }}
    {{ post.byline(item, collections, dateformat='since', prefix=none) }}
  </header>
  {% if item.data.feature %}
    {{ item.data.summary | md | safe }}
  {% endif %}
</article>
{% endmacro %}
