{% import 'birds.macros.njk' as birds %}
{% import 'layout.macros.njk' as layout %}
{% import 'embed.macros.njk' as embed %}
{% import 'utility.macros.njk' as utility %}

{# @docs
label: Post Macros
category: file
#}


{# @docs
label: by_year
category: lists
note: |
  Group posts by year,
  when there are more than
  a set (`above`) number of posts
params:
  posts:
    type: array
    note: containing 11ty page objects
  collections:
    type: 11ty collections object
    default: none
  above:
    type: number
    default: 6
  pagination:
    type: 11ty pagination object
    default: none
#}
{% macro by_year(
  posts,
  collections=none,
  above=6,
  pagination=none
) %}
  {%- if posts | length > 0 -%}
    {%- if posts | length > above -%}
      {%- for group in posts | byYear -%}
        {% set title = [group.year, 'Resources'] | join(' ') if loop.first else group.year %}
        {{ list(
          posts=group.posts,
          collections=collections,
          title=title,
          pagination=pagination if loop.first else none
        ) }}
      {%- endfor -%}
    {%- else -%}
      {{ list(posts, collections, pagination=pagination) }}
    {%- endif -%}
  {%- endif -%}
{% endmacro %}


{# @docs
label: recent_posts
category: lists
note: |
  Returns a given number of recent
  posts from a collection
params:
  type:
    type: string
    note: one of several resource "types" to display (types are defined in the `taxonomy.yaml` data file)
  collections:
    type: 11ty collections object
    default: '[]'
  limit:
    type: number
    default: 3
  banner_title:
    type: string
    default: 'Resources'
  page_url:
    type: url
    default: "''"
#}
{% macro recent_posts(
  type,
  collections=[],
  limit=3,
  banner_title='Resources',
  page_url=''
) %}
  {%- set posts = collections[type] -%}
  {%- if posts | length > 0 -%}
    {%- set recents = posts | isType(type) | pageYears | reverse | removePage(page_url) | onlyShow(limit) -%}
    {%- set year_title = ['Recent', banner_title] | join(' ') -%}
    {{ list(
      recents,
      collections=collections,
      title=year_title,
      override_feature=true
    ) }}
  {%- endif -%}
{% endmacro %}


{# @docs
label: list
category: lists
note: Generate a list of posts
params:
  posts:
    type: array
    note: containing 11ty page objects
  collections:
    type: 11ty collections object
    default: none
  title:
    type: string
    default: 'Resources'
  pagination:
    type: 11ty pagination object
    default: none
  override_feature:
    type: boolean
    default: 'false'
#}
{% macro list(
  posts,
  collections=none,
  title='Resources',
  pagination=none,
  override_feature=false
) %}
{%- if posts -%}
  {%- set posts = posts if (posts[0].sort) else posts | pageYears -%}
  {%- set sort = 'sort' if (posts[0].sort) else 'date' -%}

  {% if pagination %}
    <header class="resource-header">
      {{ layout.title(title) }}
      {{ page_nav(pagination, current=false) }}
    </header>
  {% else %}
    {{ layout.title(title) }}
  {% endif %}

  <ol data-grid="resources" reversed>
    {%- for post in posts | sort(reverse=true, attribute=sort) -%}
      {{ item(post, collections, loop, override_feature=override_feature) }}
    {%- endfor -%}
  </ol>
{% endif %}
{% endmacro %}


{# @docs
label: item
category: posts
note: Generate each post in a list
params:
  post:
    type: 11ty page object
  collections:
    type: 11ty collections object
    default: none
  feature:
    type: boolean | 'large'
    default: none
  override_feature:
    type: boolean
    default: 'false'
#}
{% macro item(
  post,
  collections=none,
  loop=none,
  override_feature=false
) %}
  {%- set type = post.data.tags | pageType -%}
  {%- set card = post.data.card or none -%}
  {%- set card = 'feature' if (card == 'feature') else card -%}
  {%- set card = card or 'feature' if type.feature else card -%}
  {%- set card = none if override_feature else card -%}

  {# Adjust card settings based on the number of posts in a list #}
  {% if loop %}
    {%- set card = 'large' if (loop.length == 1) else card -%}
    {%- set card = 'feature' if (card == 'large' and loop.length == 2) else card -%}
  {% endif %}

  <li data-resource="{{ card }}">
    {%- if card == 'large' -%}
      {{ type_link(type, collections) }}
      {{ detail(post, card, type, collections) }}
    {%- else -%}
      {{ detail(post, card, type, collections) }}
      {{ type_link(type, collections) }}
    {%- endif -%}
  </li>
{% endmacro %}


{# @docs
label: detail
category: posts
note: Content for posts in a list
params:
  post:
    type: 11ty page object
  type:
    type: string
    default: none
  collections:
    type: 11ty collections object
    default: none
#}
{% macro detail(
  post,
  card='link',
  type=none,
  collections=none
) %}
  {%- set image = post.data.image -%}
  {%- set image = image if image and not (image.type == 'media') else none -%}
  {%- set image = image if (type.img or card == 'large') else none -%}

  <article
    data-post="{{ 'large' if (card == 'large') else 'link' }}"
    aria-labelledby="{{ id(post) }}"
    class="h-entry">
    {{ hero(image, card or 'post', true) }}
    {% if type %}
      <div class="type-flag" data-flag="left">
        {{ type.tag }}
        <span class="sr-only">resource type</span>
      </div>
    {% endif %}
    <div class="post-content">
      <header class="post-header">
        {{ banner(post, hentry=true) }}
        {{ subtitle(post.data.sub) }}
        {{ byline(
          post=post,
          collections=collections,
          links=false,
          dateformat='range' if post.data.client else 'month_day'
        ) }}
      </header>
      {% if post.data.events %}
        <div class="p-summary">
          {{ eventpreview(post.data.events, links=false) }}
        </div>
      {% elif post.data.summary %}
        {% set summary = post.data.summary | md %}
        <div class="p-summary">
          {% if (card == 'large') %}
            {{ summary | safe }}
          {% else %}
            <p>
              {{ summary | elide | safe }}
            </p>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </article>
{% endmacro %}


{# @docs
label: grid
category: posts
note: A simple grid of pages, without full "card" resource styling
params:
  pages:
    type: 11ty collection
  level:
    type: number (1-6)
    default: 3
    note: Heading level for page titles
  collections:
    type: 11ty collections object
    default: none
#}
{% macro grid(
  pages,
  level=3,
  collections=none
) %}
  {% call layout.grid('posts') %}
    {% for page in pages %}
      {% set page = collections.all | getPage(page) %}
      <article {{ aria_label(page) }} class='page-summary'>
        {{ hero(page.data.image, 'card') }}
        <div>
          {{ banner(page, level=level) }}
          {{ page.data.summary | md | safe }}
        </div>
      </article>
    {% endfor %}
  {% endcall %}
{% endmacro %}


{# @docs
label: eventpreview
category: events
note: |
  List of up to 2 upcoming events from a talk post,
  shows up to 2 past events if no upcoming events are available
params:
  events:
    type: array
  links:
    type: boolean
    default: true
    note: Optionally remove event links for content in linked-cards
#}
{% macro eventpreview(
  events,
  links=true
) %}
  {%- set events = events -%}
  {%- set events = events | sort(attribute='date') -%}
  {%- set futureevents = events | getFuture -%}
  {%- set isfuture = futureevents | length > 0 -%}
  {%- set showevents = futureevents if isfuture else events | reverse -%}

  {%- if showevents | length > 0 -%}
    <h4 class="item-timing">{{ 'Upcoming' if isfuture else 'Past' }}</h4>
    <ul class="next-event">
    {%- for next in showevents -%}
      {% if (loop.index <= 2) %}
        <li>
          {{ linked(
            next.venue,
            next.url if links else none
          ) }}
          <span class="next-on">
            <i>on</i>
            {{ utility.datetime(
              next.date,
              next.end,
              format='long'
            ) }}
          </span>
        </li>
       {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}
{% endmacro %}


{# @docs
label: hero
category: metadata
note: Display hero image for a post
params:
  image:
    type: object
  type:
    type: large | card | page
    default: 'large'
#}
{% macro hero(
  image,
  type='large',
  is_entry=false
) %}
  {%- if image -%}
    <div data-hero="{{ type or 'large' }}">
      {%- if image.src -%}
        {%- set position = {'--hero-position': image.position} | styles -%}
        {{ embed.img(
          src=image.src,
          alt=image.alt,
          sizes='card' if (type == 'post') else none,
          attrs={
            style: position,
            class: 'u-photo' if is_entry else ''
          }
        ) }}
      {%- elif image.svg -%}
        {{ embed.svg(image.svg, image.alt) }}
      {%- endif -%}
    </div>
  {%- endif -%}
{% endmacro %}


{# @docs
label: byline
category: metadata
note: |
  Generate the post byline with
  type, authors, venue/client, date, and location
params:
  post:
    type: 11ty page object
  collections:
    type: 11ty collections object
    default: none
  links:
    type: boolean
    default: true
    note: Optionally remove links for content in linked cards
  dateformat:
    type: false | string
    default: 'false'
    note: Optionally show the date in a given format
#}
{% macro byline(
  post,
  collections=none,
  links=true,
  dateformat=false,
  prefix='by'
) %}
  <p class="byline">
    {{ by(
      post.data.author,
      collections,
      prefix=none if post.data.venue else prefix,
      link=links
    ) }}

    {% if post.data.oss %}
      {% set plural = not post.data.author | typeCheck('string') %}
      {% set plural = (post.data.author == 'oddbird') or plural %}
      {% set plural = false if (post.data.oss == 'core team') else plural %}
      ({{ post.data.oss }}{{ 's' if plural else '' }})
    {% endif %}

    {{ linked(
      venue=post.data.venue,
      url=(post.data.canonical or post.data.url) if links else none
    ) }}

    {{ client(post.data.client) }}

    {% if not post.data.events %}
      {% if dateformat %}
        {{ pubdate(post.date, post.data.end, dateformat) }}
      {% endif %}
    {% endif %}
  </p>
{% endmacro %}


{# @docs
label: type_link
category: metadata
note: |
  Generate an icon-link
  to the post-type index page
params:
  type:
    type: string
  collections:
    type: 11ty collections object
    default: none
#}
{% macro type_link(
  type,
  collections=none
) %}
  {%- set url = '/tags/' -%}
  {%- if type.icon -%}
    {% set url = collections.all | tagLink(type.tag) if collections else none %}
  {%- endif -%}
  {{ utility.link_if(
    content=embed.svg(
      path='icons/' + (type.icon or 'tags'),
      alt=['see all', type.tag, 'resources'] | join(' ') if type else 'all tags'
    ),
    url=url,
    class='type-link'
  ) }}
{% endmacro %}


{# @docs
label: title
category: metadata
note: Generate a linked heading with the post title
params:
  post:
    type: 11ty page object
#}
{% macro banner(
  post,
  level=3,
  attrs={},
  id_prefix='post',
  called=false,
  hentry=false
) -%}
  {%- h level, {
    'class': 'item-title p-name' if hentry else 'item-title',
    'id': id(post, id_prefix)
  } | merge(attrs) -%}
      {{ utility.link_if(
        caller() if called else name(post),
        post.url,
        'title-link u-url' if hentry else 'title-link'
      ) }}
  {%- endh -%}
{%- endmacro %}


{% macro name(
  post
) -%}
  {% set title = post.data.banner or post.data.title %}
  {{ title | mdInline | safe }}
{%- endmacro %}


{% macro id(
  post,
  id_prefix='post'
) -%}
  {{ [id_prefix, post.url] | join('-') | slug }}
{%- endmacro %}


{% macro aria_label(
  post,
  id_prefix='post'
) %}aria-labelledby="{{ id(post, id_prefix) }}"{% endmacro %}


{# @docs
label: subtitle
category: metadata
note: Generate each post in a list
params:
  post:
    type: 11ty page object
  collections:
    type: 11ty collections object
    default: none
#}
{% macro subtitle(
  sub,
  class=none
) %}
  {% if sub %}
    <p class="subtitle{% if class %} {{ class }}{% endif %}">
      {{ sub | mdInline | safe }}
    </p>
  {% endif %}
{% endmacro %}


{# @docs
label: by
category: metadata
note: Show a linked list of authors
params:
  author:
    type: string | array
  collections:
    type: 11ty collections object
#}
{% macro by(
  author,
  collections,
  prefix='by',
  link=true
) %}
  {% if author %}
    {% if prefix %}<i>{{ prefix }}</i>{% endif %}
    {{ birds.authors(author, collections, link, class='p-author') }}
  {% endif %}
{% endmacro %}


{# @docs
label: pubdate
category: metadata
note: Generate a pubdate in the proper format
params:
  start:
    type: date
  end:
    type: date
  format:
    type: string
    default: 'long'
#}
{% macro pubdate(
  start,
  end,
  format='long'
) %}
  {{ utility.datetime(
    start=start,
    end=end,
    format=format,
    is_pubdate=true,
    prefix=true
  ) }}
{% endmacro %}


{# @docs
label: client
category: metadata
note: Show the client name on a client project
params:
  name:
    type: string
#}
{% macro client(name) -%}
  {%- if name %}
    <i>for</i>
    <b>{{ name | mdInline | safe }}</b>
  {% endif -%}
{%- endmacro %}


{# @docs
label: where
category: metadata
note: Show the address when available
params:
  adr:
    type: string
#}
{% macro where(
  adr
) %}
  {% if adr %}
    <i>in</i>
    <span class="adr">
      {{ adr | typogr | safe }}
    </span>
  {% endif %}
{% endmacro %}


{# @docs
label: linked
category: metadata
note: Link to original post or venue
params:
  venue:
    type: string
  url:
    type: url
#}
{% macro linked(
  venue,
  url
) -%}
{%- if venue %}
  <i>at</i>
  {{ utility.link_if(
    content=venue | mdInline | safe,
    url=url,
    class='h-card',
    attrs={'rel': 'bookmark'} if url else none
  ) }}
{% endif -%}
{%- endmacro %}


{# @docs
label: taglist
category: metadata
note: Show a linked list of all post tags, as pills
params:
  tags:
    type: array
  collections:
    type: 11ty collections object
#}
{% macro taglist(
  tags,
  collections,
  pill=true
) -%}
  {%- set public_tags = collections | tagData(tags) -%}
  {%- set public_tags = public_tags if public_tags | length else none -%}

  {%- if public_tags -%}
    <div class="post-tags">
      {%- include "icons/tags.svg" -%}
      <ul inline-list="{{ 'pill-set' if pill else 'comma' }}">
        {%- for group, items in public_tags | groupby('is_type') | dictsort | reverse -%}
          {% for item in items | sort(attribute='tag') %}
            <li {% if pill %}class="pill-item p-category"{% endif %}>
              {{- utility.link_if(
                content=item.tag | typogr,
                url=item.url,
                class='pill' if pill else none
              ) -}}
            </li>
          {% endfor %}
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endmacro %}


{# @docs
label: linklist
category: metadata
note: List of links to docs, source, sites, slides, etc
params:
  links:
    type: object
    note: the key will be used as text, with the value for url
  slides:
    type: url
    default: none
#}
{% macro linklist(
  links,
  slides=none
) %}
  {% if links or slides %}
    <ul class="post-links">
      {% if slides %}
        <li>{{ utility.link_if('slides »', slides) }}</li>
      {% endif %}

      {% for name, url in links %}
        <li>{{ utility.link_if(name + ' »', url) }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}


{# @docs
label: page_nav
category: pagination
note: Navigate paginated collections
params:
  title:
    type: string
    note: Will be hidden, for screen-readers only
  pagination:
    type: 11ty pagination object
    default: none
  current:
    type: boolean
    default: 'false'
    note: Show the current location in pagination?
  id:
    type: string
    default: "''"
    note: |
      When repeating the pagination on a page,
      each instance should get a unique ID
  level:
    type: integer [1-6]
    default: 2
    note: Heading level
#}
{% macro page_nav(pagination, current=true, labelledby='title') %}
{% if pagination %}
<nav class="pagination" aria-labelledby="{{ labelledby }}">
  {{ utility.link_if(
    content='« newer' if pagination.href.previous else 'newest',
    url=pagination.href.previous,
    class="pagination-link")
  }}

  {% if current %}
    {{ page_current(pagination) }}
  {% else %}
    |
  {% endif %}

  {{ utility.link_if(
    content='older »' if pagination.href.next else 'oldest',
    url=pagination.href.next,
    class="pagination-link")
  }}
</nav>
{% endif %}
{% endmacro %}


{# @docs
label: page_current
category: pagination
note: |
  Show the current active page number &
  total page-count in a paginated list
params:
  pagination:
    type: 11ty pagination object
    default: none
  prefix:
    type: string | none
    default: none
    note: Prefix "x of y" with more context, e.g. "page x of y"
#}
{% macro page_current(pagination, prefix=none) %}
{% if pagination %}
  <span class="current">
    {% if prefix %}<i>{{ prefix }}</i>{% endif %}
    <strong>{{ pagination.pageNumber + 1 }}</strong>
    <i>of</i>
    <strong>{{ pagination.pages | length }}</strong>
  </span>
{% endif %}
{% endmacro %}
