{% import 'birds.macros.njk' as birds %}
{% import 'layout.macros.njk' as layout %}
{% import 'embed.macros.njk' as embed %}
{% import 'utility.macros.njk' as utility %}

{# @docs
label: Post Macros
category: file
#}


{% macro by_year(
  pages,
  collections=none
) %}
  {% for group in pages | byYear %}
    {{ layout.title(group.year) }}
    {{ list(group.posts, collections) }}
  {% endfor %}
{% endmacro %}

{# @docs
label: list
category: lists
note: Generate a list of posts
params:
  posts:
    type: array
    note: containing 11ty page objects
  collections:
    type: 11ty collections object
    default: none
#}
{% macro list(
  posts,
  collections=none
) %}
{% if posts %}
  <ol data-grid="resources" reversed>
    {% for post in posts | sort(true, false, 'date') %}
      {% set feature = 'large' if (loop.length == 1) else none %}
      {% set feature = 'small' if (feature or post.data.feature) and (loop.length == 2) else feature %}
      {{ item(post, collections, feature) }}
    {% endfor %}
  </ol>
{% endif %}
{% endmacro %}

{# @docs
label: item
category: lists
note: Generate each post in a list
params:
  post:
    type: 11ty page object
  collections:
    type: 11ty collections object
    default: none
#}
{% macro item(
  post,
  collections=none,
  feature=none
) %}
  {% set type = post | pageType %}

  {% set feature = post.event.feature if (post.event and not feature) else feature %}
  {% set feature = feature or post.data.feature %}
  {% set feature = 'small' if feature and not feature | typeCheck('string') else feature %}

  <li data-post="{{ type | slug if type else 'default' }}" {{ utility.attr_if('data-feature', feature) }}>
    {{ category(type, collections) }}

    {% if feature == 'large' %}
      {{ large(post, collections) }}
    {% else %}
      {{ small(post, collections) }}
    {% endif %}
  </li>
{% endmacro %}

{% macro small(
  post,
  collections=none
) %}
  <a href="{{ post.url | url }}" data-card="link">
    <div class="card-inner">
      <h3 class="card-title">{{ heading(post, link=false) }}</h3>
      {{ subtitle(post.data.sub) }}
      {{ byline(post, collections, false) }}
    </div>
  </a>
{% endmacro %}

{% macro large(
  post,
  collections=none
) %}
  <article data-card="feature">
    {% if post.data.image and (post.data.image.src or post.data.image.svg) %}
      <div class="card-hero">
        {% if post.data.image.src %}
          {{ embed.img(post.data.image.src, post.data.image.alt) }}
        {% else %}
          {{ embed.svg(post.data.image.svg) }}
        {% endif %}
      </div>
    {% endif %}

    <div class="card-meta">
      <h3>{{ heading(post) }}</h3>
      {{ subtitle(post.data.sub) }}
      {{ byline(post, collections) }}
      {{ taglist(post.data.tags, collections) }}
    </div>

    <div class="summary">
      {{ post.data.summary | md | safe }}
    </div>
  </article>
{% endmacro %}

{% macro byline(
  post,
  collections=none,
  links=true
) %}
  {% set type = post | pageType %}
  <p class="byline">
    {% set byType = {
      'Workshops': 'Workshop',
      'Talks': 'Talk',
      'Videos': 'Video',
      'Podcasts': 'Podcast',
      'OddTools': 'Created'
    } %}

    {% if (not post.data.venue) and (not type in ['News', 'Links']) %}
      <b>{{ byType[type] or type }}</b>
    {% endif %}

    {{ by(
      post.data.author,
      collections,
      prefix=none if post.data.venue else 'by',
      link=links
    ) }}

    {% if (post.data.oss == 'core team') %}
      ({{ post.data.oss }})
    {% endif %}

    {% if links %}
      {{ linked(
        venue=post.data.venue,
        url=(post.data.canonical or post.data.url)
      ) }}
    {% elif post.data.venue %}
      <i>at</i>
      <b>{{ post.data.venue }}</b>
    {% endif %}

    {{ client(post.data.client) }}
  </p>
{% endmacro %}

{% macro category(
  type,
  collections=none
) %}
  {% set icons = {
    'Client Work': 'tools',
    'OddTools': 'tools',
    'Open Source': 'opensource',
    'Talks': 'talk',
    'Workshops': 'workshop',
    'Podcasts': 'audio',
    'Videos': 'video',
    'Links': 'link',
    'News': 'news'
  } %}
  {{ utility.icon_link(
    icon='icons/' + (icons[type] or 'tags'),
    text=type or 'all tags',
    url=collections.all | tagLink(type) if collections else none,
    class='post-type'
  ) }}
{% endmacro %}

{# @docs
label: title
category: metadata
note: Generate a linked heading with the post title
params:
  post:
    type: 11ty page object
#}
{% macro heading(
  post,
  link=true
) -%}
  {%- set post_title = post | render('banner') or post | render('title') -%}
  {{- utility.link_if(
    post_title,
    post.url if link else none
  ) -}}
{%- endmacro %}

{# @docs
label: subtitle
category: metadata
note: Generate each post in a list
params:
  post:
    type: 11ty page object
  collections:
    type: 11ty collections object
    default: none
#}
{% macro subtitle(
  sub
) %}
  {% if sub %}
    <p class="subtitle">
      {{ sub | mdInline | safe }}
    </p>
  {% endif %}
{% endmacro %}

{# @docs
label: by
category: metadata
note: Show a linked list of authors
params:
  author:
    type: string | array
  collections:
    type: 11ty collections object
#}
{% macro by(
  author,
  collections,
  prefix='by',
  link=true
) %}
  {% if author %}
    {% if prefix %}<i>{{ prefix }}</i>{% endif %}
    {{ birds.authors(author, collections, link) }}
  {% endif %}
{% endmacro %}

{# @docs
label: pubdate
category: metadata
note: Generate a pubdate in the proper format
params:
  start:
    type: date
  end:
    type: date
  format:
    type: string
    default: 'long'
#}
{% macro pubdate(
  start,
  end,
  format='long'
) %}
  {{ utility.datetime(
    start=start,
    end=end,
    format=format,
    is_pubdate=true,
    prefix=true
  ) }}
{% endmacro %}

{# @docs
label: client
category: metadata
note: Show the client name on a client project
params:
  name:
    type: string
#}
{% macro client(name) -%}
  {%- if name %}
    <i>for</i>
    <b>{{ name | mdInline | safe }}</b>
  {% endif -%}
{%- endmacro %}

{# @docs
label: where
category: metadata
note: Show the address when available
params:
  adr:
    type: string
#}
{% macro where(
  adr
) %}
  {% if adr %}
    <i>in</i>
    <span class="adr">
      {{ adr | typogr | safe }}
    </span>
  {% endif %}
{% endmacro %}

{# @docs
label: linked
category: metadata
note: Link to original post or venue
params:
  venue:
    type: string
  url:
    type: url
#}
{% macro linked(
  venue,
  url
) -%}
{%- if venue and url %}
  <i>at</i>
  {{ utility.link_if(
    content=venue | mdInline | safe,
    url=url,
    attrs={'rel': 'bookmark'}
  ) }}
{% endif -%}
{%- endmacro %}

{# @docs
label: taglist
category: metadata
note: Show a linked list of all post tags, as pills
params:
  tags:
    type: array
  collections:
    type: 11ty collections object
#}
{% macro taglist(
  tags,
  collections,
  pill=true
) -%}
  {%- set public_tags = collections | tagData(tags) -%}
  {%- set public_tags = public_tags if public_tags | length else none -%}

  {%- if public_tags -%}
    <div class="post-tags">
      {%- include "icons/tags.svg" -%}
      <ul class="{{ 'pill-set' if pill else 'inline-list' }}">
        {%- for item in public_tags -%}
          <li class="{{ 'pill-item' if pill else 'inline-item' }}">
            {{- utility.link_if(
              content=item.tag,
              url=item.url,
              class='pill' if pill else none
            ) -}}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endmacro %}

{# @docs
label: linklist
category: metadata
note: List of links to docs, source, sites, slides, etc
params:
  links:
    type: object
    note: the key will be used as text, with the value for url
  slides:
    type: url
    default: 'none'
#}
{% macro linklist(
  links,
  slides=none
) %}
  {% if links or slides %}
    <ul class="post-links">
      {% if slides %}
        <li>{{ utility.link_if('slides »', slides) }}</li>
      {% endif %}

      {% for name, url in links %}
        <li>{{ utility.link_if(name + ' »', url) }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
