{# @docs
label: Section Macros
category: file
note: For sectioning content in posts
#}


{# @docs
label: title
note: Section titles are flag-like
params:
  content:
    type: markdown
  align:
    type: right | left | center [none]
    default: 'right'
    note: |
      The macro defaults to `right`,
      but the CSS defaults to a centered layout
      if no valid alignment is given.
#}
{% macro title(
  content,
  align='right'
) %}
<h2 data-section-title="{{ align | mdInline | safe }}">{{ content }}</h2>
{% endmacro %}
