{% import 'layout.macros.njk' as layout %}
{% import 'utility.macros.njk' as utility %}
{% import 'embed.macros.njk' as embed %}
{% import 'birds.macros.njk' as birds %}

{# @docs
label: Event Macros
category: File
note: Showing stand-alone event lists
#}

{% macro section(
  title,
  events,
  all=true,
  by_bird=none
) %}
  {% if events and (events.length > 0) %}
    <section data-list="events" data-typeset>
      {%- if title -%}
        {{- layout.title(title) -}}
      {%- endif -%}

      {% if by_bird %}
        {% for bird in events | birdEvents %}
          {% call embed.media_block(
            media=embed.svg('faces/' + bird.name),
            name='bird-events'
          ) %}
            <h3 class='event-group-title'>
              {{ birds.authors(bird.name, by_bird, link=false) }}
            </h3>
            {{ list(
              events=bird.events,
              all=all
            ) }}
          {% endcall %}
        {% endfor %}
      {% else %}
        {{ list(
          events,
          all,
          heading_level=3
        ) }}
      {% endif %}
    </section>
  {% endif %}
{% endmacro %}

{# @docs
label: list
note: Display an array of events as a simple list
params:
  events:
    type: array
    note: |
      Array of event objects.
      See the event filters for data structure.
  all:
    type: boolean
    default: true
    note: |
      When set to false,
      this will filter to upcoming events,
      and order them with soonest first.
  links:
    type: boolean
    default: true
    note: Optionally remove event links for content in linked-cards
#}
{% macro list(
  events,
  all=true,
  heading_level=4,
  compact=false
) %}
  {%- if events and (events | length > 0) -%}
    {%- set events = events | sort(all, false, 'date') -%}
    {%- set events = events | onlyShow(2) if compact else events -%}

    <ol {{ utility.show_attrs({
      'reversed': all,
      'class': ['event-list', 'compact-events'] | join(' ') if compact else 'event-list'
    }) }}>
      {%- for event in events -%}
        {%- set event_slug = [event.data.venue, event.date | getDate('iso'), loop.index] | join('-') | slug -%}

        <li class="event-item">
          <article class="event" aria-labelledby="{{ event_slug }}">
            <footer class="event-meta">
              {%- if event.is_future -%}
                <strong>{{ utility.datetime(event.date) }}</strong>
              {%- else -%}
                {{ utility.datetime(event.date) }}
              {%- endif %}
              {% if event.data.adr %}
                {{ ['--', event.data.adr] | join(' ') | mdInline | safe }}
              {% endif %}
            </footer>

            {% h heading_level, {
              'class': 'event-title',
              'id': event_slug
            } %}
              {{ utility.link_if(
                event.venue,
                none if compact else (event.data.url or event.url)
              ) }}
            {% endh %}

            {% if not event.is_future %}
              {{ links(event) }}
            {% elif event.data.discount and not compact %}
              <p class="event-discount">
                Use discount code
                <code>{{ event.data.discount.code }}</code>
                to get <strong>{{ event.data.discount.amount }} off</strong>
              </p>
            {% endif %}
          </article>
        </li>
      {%- endfor -%}
    </ol>
  {%- endif -%}
{% endmacro %}

{% macro links(event) %}
  {%- set links = [
    {
      'title': 'Slides',
      'url': (event.data.slides or event.page.slides)
    },
    {
      'title': 'Video',
      'url': event.data.video
    }
  ] | selectattr('url') -%}

  {% if links | length > 0 %}
    <ul class="event-links" inline-list="comma">
      {%- for link in links -%}
        <li class="event-link">
          {{- utility.link_if(link.title, link.url) -}}
        </li>
      {%- endfor -%}
    </ul>
  {% endif %}
{% endmacro %}
