{# @docs
label: Utilities
category: file
note: |
  Utilities can be used just about anywhere,
  and that's why we love them.
#}


{# @docs
label: Single Attribute-If
category: attributes
note: |
  Pass in an attribute name and value.
  If the value is not falsey,
  we'll display the attribute
  with appropriate value when necessary.
params:
  attr:
    type: string
    note: The attribute name
  value:
    type: string | boolean
    default: none
    note: |
      The value of the attribute.
      "True" or "true" (string or boolean)
      will output the attribute without any value,
      while falsey values will not output any attribute.
#}
{% macro attr_if(
  attr,
  value=none
) %}
  {%- if (value and (value | string | lower == 'true')) or (value == '') -%}
    {{ attr }}
  {%- elif value -%}
    {{ attr }}="{{ value }}"
  {%- endif -%}
{% endmacro %}


{# @docs
label: Multiple Attributes-If
category: attributes
note: |
  Render a dictionary of attribute/value pairs
  into HTML-ready attributes.
params:
  attrs:
    type: dictionary
#}
{% macro show_attrs(
  attrs
) %}
  {%- for attr, value in attrs %} {{ attr_if(attr, value) }}{%- endfor -%}
{% endmacro %}


{# @docs
label: Style-If
category: attributes
note: |
  Render a dictionary of property/value pairs
  into an HTML-ready style attribute.
params:
  style:
    type: dictionary
#}
{% macro style_if(
  style
) -%}
  {{ attr_if('style', style | styles) }}
{%- endmacro %}


{# @docs
label: Link List
category: links
#}
{% macro link_list(data) -%}
  {%- if data -%}
    <ul class="inline-list">
    {%- for link in data -%}
      <li>
        {%- if link.icon -%}
          {{ icon_link(
            icon=link.icon + '.svg',
            text=link.text,
            url=link.url
          ) }}
        {%- else -%}
          {{ link_if(link.text, link.url) }}
        {%- endif -%}
      </li>
    {%- endfor -%}
    </ul>
  {%- endif -%}
{%- endmacro %}


{# @docs
label: Icon Link
category: links
note: |
  Links with icons require special handling
  in order to avoid awkward underline collisions.
params:
  icon:
    type: include path
  text:
    type: string
  url:
    type: url
  class:
    type: string
    default: none
  attrs:
    type: dictionary
    default: (empty dict)
#}
{% macro icon_link(
  icon,
  text,
  url,
  class=none,
  attrs={}
) -%}
  {%- set content -%}
    {%- include icon -%}
    <span class="link-text">{{ text }}</span>
  {%- endset -%}

  {{- link_if(
    content=content,
    url=url,
    class=[class, 'icon-link'] | join(' ') if class else 'icon-link',
    attrs=attrs
  ) -}}
{%- endmacro %}


{# @docs
label: Link If
category: links
#}
{% macro link_if(
  content,
  url=none,
  class=none,
  attrs={}
) -%}
  {%- if url -%}
  <a href="{{ url | url }}" {{ attr_if('class', class) }} {{ show_attrs(attrs) }}>{#
    #}{{ content | safe }}{#
  #}</a>
  {%- else -%}
  <span {{ attr_if('class', class) }} {{ show_attrs(attrs) }}>{#
    #}{{ content | safe }}{#
  #}</span>
  {%- endif -%}
{%- endmacro %}


{# @docs
label: Previous / Next
category: links
note: This probably doesn't belong in utilities…
#}
{% macro prev_next(to, is) %}
  {% if to %}
    <li>
      {{ is }}:
      {{ link_if(to.data.title | mdInline, to.url) }}
    </li>
  {% endif %}
{% endmacro %}


{# @docs
label: DateTime
category: time
#}
{% macro datetime(
  pubdate,
  start,
  end,
  format='long'
) %}
  {% set ranges = {
    'same-y': {
      'start': 'M',
      'end': 'range'
    },
    'same-m': {
      'start': 'md',
      'end': 'd' if (format == 'md') else 'dy'
    }
  } %}

  {% set ongoing = (end == 'ongoing') or (end | groupName == 'ongoing') %}

  <time
    datetime="{{ pub | getDate('iso') }}"
    {{ attr_if('pubdate', not not pubdate) }}>

    {% if ongoing %}
      since {{ start | getDate('range') }}
    {% elif (start and end) and (start != end) %}
      {% set start_m = start | getDate('month') %}
      {% set start_y = start | getDate('year') %}
      {% set end_m = end | getDate('month') %}
      {% set end_y = end | getDate('year') %}

      {% set same = 'same-y' if (start_y == end_y) else none %}
      {% set same = 'same-m' if same and (start_m == end_m) else same %}

      {{ start | getDate(ranges[same].start or 'range') }}
      {{- '---' | typogr | safe -}}
      {{ end | getDate(ranges[same].end or 'range') }}

    {% else %}
      {{ start | getDate(format) }}
    {% endif %}
  </time>
{% endmacro %}

