// Color Properties
// ================

@use 'sass:color';
@use '../../../node_modules/accoutrement/sass/tools';

$prime-hue: color.hue(tools.color('brand-blue'));
$accent-hue: color.hue(tools.color('brand-pink'));

@use '../../../node_modules/cascading-color-systems' as ccs with (
  $prime-hue: $prime-hue,
  $accent-hue: $accent-hue,
  $steps: 6,
  $fades: 0.75,
  $fade-background: 25%,
  $neutral-saturation: 10%,
  $build: true,
);

[data-ccs-colors] {
  // maybe should move to CCS?
  --mode-zero: calc((var(--ccs-mode) + 1) * 0.5);
  --mode-zero--invert: calc((var(--ccs-mode--invert) + 1) * 0.5);

  // our theme
  --bg: var(--ccs--bg-full);
  --callout: var(--ccs-neutral--bg5);
  --border: var(--ccs-neutral);
  --text: var(--ccs-neutral--fg-full);
  --action: var(--ccs-prime--fg1);
  --action-focus: var(--ccs-prime--fg2);

  // used by CCS to set defaults
  --ccs-neutral--theme: var(--ccs-h--prime);
  --ccs-background: var(--bg);
  --ccs-color: var(--text);
}

[data-ccs-theme='oddbird'] {
  --ccs-prime--config: #{$prime-hue};
  --ccs-accent--config: #{$accent-hue};
  --ccs-prime--theme: #{ccs.if-mode(
      $light: var(--ccs-prime--config),
      $dark: var(--ccs-accent--config)
    )};
  --ccs-accent--theme: #{ccs.if-mode(
      $light: var(--ccs-accent--config),
      $dark: var(--ccs-prime--config)
    )};
  --ccs-custom-hue: none;
}

[data-ccs-theme='monochrome'] {
  --ccs-accent--theme: var(--ccs-h--prime);
}

[data-ccs-theme='contrast'] {
  --ccs-custom-hue: none;
  --ccs-custom-saturation: none;
}
