@use '../../../node_modules/accoutrement/sass/tools';

// General Focus Styles
// --------------------

:focus {
  outline: medium dotted currentColor;
  outline-color: var(--outline-color, var(--text, currentColor));
  outline-offset: var(--quarter-shim);
}

// Link Defaults
// -------------

a {
  &:link,
  &:visited,
  &.icon-text {
    @include tools.transition('underline');
    --underline-color--default: var(--ccs-accent--fg1);
    --underline-thickness--default: 0.1em;
    --underline-offset--default: 0.1em;
    color: var(--link, var(--action));
    text-decoration: underline;
    text-decoration-color: var(
      --underline-color,
      var(--underline-color--default)
    );
    text-decoration-skip-ink: auto;
    text-decoration-thickness: var(
      --underline-thickness,
      var(--underline-thickness--default)
    );
    text-underline-offset: var(
      --underline-offset,
      var(--underline-offset--default)
    );
  }

  &:hover,
  &:focus {
    --underline-color: var(--ccs-accent);
    --underline-thickness: 0.2em;
    color: var(--action-focus);
  }
}
