@use '~accoutrement/sass/tools';

@include tools.import-webfonts;

html {
  @include tools.font-family('body');
  --clip-overlap: var(--page-margin);
  --clip-angle: var(--double-gutter);
  --clip-space: calc(var(--clip-angle) + var(--gutter));
  --clip-left: polygon(var(--clip-angle) 0, 100% 0, 100% 100%, 0 100%);
  --clip-right: polygon(
    0 0,
    100% 0,
    calc(100% - var(--clip-angle)) 100%,
    0 100%
  );
  font-size: tools.size('rem');
  line-height: tools.ratio('line-height');

  // image, size, position, & media-queries are all related *magically*
  // and should be adjusted/tested as a group by hand
  @supports (background-blend-mode: multiply) {
    background-blend-mode: var(--bg-blend, multiply);
    background-image: url('../images/site/header-wash.png'),
      url('../images/site/footer-wash.png');
    background-position: var(--header-pos, left -8em) top 0, bottom left;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 5.5em, 20em auto;
  }

  @include tools.above(40em) {
    --header-pos: right 0;
  }

  @include tools.above(50em) {
    --header-pos: left 0;
  }

  @media (prefers-color-scheme: dark) {
    &:not([style*='--ccs-mode--user']) {
      --bg-blend: color-dodge;
    }
  }
}

[style*='--ccs-mode--user:-1'] {
  --bg-blend: color-dodge;
}
