@use '../../../node_modules/accoutrement/sass/tools';
@use '../../../node_modules/cascading-color-systems/sass/ccs';

@include tools.import-webfonts;

html {
  @include tools.font-family('body');
  font-size: calc(1.25em + 0.5vw);
  line-height: 1.4;

  @media (min-width: 50em) {
    --wash-position: left 0;
  }

  @supports (background-blend-mode: multiply) {
    --header-wash: calc(var(--gutter) * 6 + 1vw);
    --footer-wash: var(--header-wash);
    background-blend-mode: multiply;
    background-image: url('../images/site/header-wash.jpg'),
      url('../images/site/footer-wash.jpg');
    background-position: var(--wash-position, right 25vw) top 0, bottom center;
    background-repeat: no-repeat, repeat-x;
    background-size: auto var(--header-wash), auto var(--footer-wash);
  }
}
