@use '../../../node_modules/accoutrement/sass/tools';
@use '../../../node_modules/cascading-color-systems/sass/ccs';

@include tools.import-webfonts;

html {
  @include tools.font-family('body');
  --header-img: url('../images/site/header-wash.jpg');
  --footer-img: url('../images/site/footer-wash.jpg');
  --header-pos: left -8em;
  --bg-blend: multiply;
  font-size: calc(1.25em + 0.5vw);
  line-height: 1.4;

  @media (min-width: 35em) {
    --header-pos: right 25vw;
  }

  @media (min-width: 50em) {
    --header-pos: left 0;
  }

  @supports (background-blend-mode: multiply) {
    --header-wash: calc(var(--gutter) * 7);
    --footer-wash: var(--header-wash);
    background-blend-mode: var(--bg-blend);
    background-image: var(--header-img), var(--footer-img);
    background-position: var(--header-pos) top 0, bottom center;
    background-repeat: no-repeat, repeat-x;
    background-size: auto var(--header-wash), auto var(--footer-wash);
  }

  @media (prefers-color-scheme: dark) {
    &:not([style*='--ccs-mode--user']) {
      --header-img: url('../images/site/header-wash-dark.jpg');
      --footer-img: url('../images/site/footer-wash-dark.jpg');
      --bg-blend: screen;
    }
  }
}

[style*='--ccs-mode--user:-1'] {
  --header-img: url('../images/site/header-wash-dark.jpg');
  --footer-img: url('../images/site/footer-wash-dark.jpg');
  --bg-blend: screen;
}
