@use '../../../node_modules/accoutrement/sass/tools';

hr {
  margin: var(--spacer) 0;
}

.intro {
  font-size: var(--medium);
}

// Selection
// ---------
/// Selected text is inverted,
/// with a hint of the accent hue.
/// @group typography
::selection {
  background-color: var(--ccs-accent--fg5);
  color: var(--bg);
}

// Font Loading
// ------------

.wf-loading {
  @include tools.is-hidden;
}

// Ampersands
// ----------

.amp {
  @include tools.font-family('amp');
}

// Paragraphs & Lists
// ------------------

p,
ul,
ol {
  margin-bottom: var(--newline);
  margin-top: 0;
}

// Summary
// -------

summary {
  cursor: pointer;
  color: var(--action);

  &:hover,
  &:focus,
  &:active {
    color: var(--action-focus);
  }
}
