---
banner: Resources by Date
sub: Read, watch, & listen
override:tags: []
pagination:
  data: collections._sorted-posts
  size: 20
  alias: posts
  reverse: true
permalink: /blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
eleventyComputed:
  title: |
    Resources
    {% if pagination.pageNumber > 0 %}(page {{ pagination.pageNumber + 1 }}){% endif %}
  summary: |
    {% if pagination.pageNumber == 0 %}
    Learn how to write resilient CSS,
    add WebSocket push notifications to a RESTful API,
    and more with these articles, videos,
    podcasts, and conference talks.
    {% endif %}
  action:
    text: |
      {%- if pagination.pageNumber == 0 -%}
      Browse by tag »
      {%- else -%}
      « Previous page
      {%- endif -%}
    url: |
      {%- if pagination.pageNumber == 0 -%}
      /tags/
      {%- else -%}
      {{ pagination.href.previous }}
      {%- endif -%}
---

{% import 'post.macros.njk' as post %}

{{ post.by_year(posts, collections) }}
{{ post.page_nav('Resource pages', pagination) }}
