---
title: OddNews
sub: Because best practice is a conversation...
banner: OddNews
summary: |
  **Hi, OddFriends!** This is the newsletter for designers
  & developers who want to **get the latest news in your field**
  — UX Design, CSS, JavaScript or Python — and keep tabs on the full stack.
---

{% import 'oddnews.macros.njk' as oddnews %}
{% import 'embed.macros.njk' as embed %}
{% import 'layout.macros.njk' as layout %}

<div data-layout="oddnews-info">
{{ oddnews.oddnews_signup(
  heading=false,
  tag='oddnews') }}

{%- set title = 'What to Expect' -%}
{%- set contents -%}
  Here are a few examples of topics featured in past editions of OddNews.
  - **Bird of the Month** - Introduction to the oddest of birds
  - **CSS** - Miriam Suzanne's latest work in Container Queries
  - **Python** - How to Run Playwright Inside Docker
  - **Sass** - How to use the new `split()` function in Sass
  - **Custom App Development** - Web Apps vs. PWAs vs. Native
  - **UX Design** - How to conenct designers and developers with Object Oriented UX
{%- endset -%}

<aside data-layout="cta" class="has-angles" aria-labelledby="cta-title">
  {% set callout_content %}
    <h2 id="cta-title">{{ title | mdInline | safe }}</h2>
    {{ contents | md | safe }}
  {% endset %}

  {{ embed.media_block(
  media=embed.screen(
  notch='5%',
  content=embed.img(
    src='writing/pexels-frank-cone.jpg',
    alt='An orange hummingbird flying in the air',
    sizes='media'
  )
),
  content=callout_content
) }}
</aside>

{{ layout.title('Latest News') }}
<div class="oddnews-archive">
  <script language="javascript" src="//oddbird.us19.list-manage.com/generate-js/?u=80219aa68d7bad77b9fd2eb93&fid=27537&show=10" type="text/javascript"></script>
</div>
</div>
