---
title: Talks & Workshops
sub: Bring us to your event or browse past talks
action:
  text: Hire us to give a talk or workshop »
  url: /contact/
summary: |
  **We provide award-winning talks & workshops**
  for companies or conferences,
  to help you create resilient web applications
  and design systems --
  improving team process, communication,
  site performance, and accessibility.
  Dive into the posts below
  for the latest videos & slides,
  and upcoming conference or workshop dates.
---

{% import 'utility.macros.njk' as utility %}
{% import 'quotes.macros.njk' as quotes %}
{% import 'layout.macros.njk' as layout %}
{% import 'talks.macros.njk' as talks %}
{% import 'post.macros.njk' as post %}

{{ quotes.find(
  collections.all,
  slugs=['spot-on', 'popular-tutorial']
) }}

{{ talks.section(
  title='Upcoming Events',
  events=collections.all | getPublic | getEvents | getFuture,
  all=false,
  by_bird=collections
) }}

{{ layout.title('All Talks & Workshops') }}
{% call layout.grid('training') %}
  {% for item in collections._talk | getPublic | eventSort(true) | reverse %}
    <article {{ post.aria_label(item) }} class="training-item">
      {{ post.hero(item.data.image, 'post') }}
      <header class="training-header">
        {{ post.banner(item) }}
        {{ post.subtitle(item.data.sub) }}
        {{ post.byline(item, collections) }}
      </header>
      {% if item.data.events %}
        <div class="training-detail">
          {{ talks.list(item | pageEvents, compact=true) }}
        </div>
      {% endif %}
    </article>
  {% endfor %}
{% endcall %}
