---
title: Workshops & Events
sub: In-person & virtual for individuals, companies, and conferences
action:
  text: Register for events »
  url: /talks/#upcoming-events
summary: |
  **We offer award-winning workshops & talks**
  for individuals, companies, and conference events
  to help developers create resilient web applications
  and design systems --
  improving team process, communication,
  site performance, and accessibility.
  Explore workshops and register for
  upcoming events below.
---

{% import 'utility.macros.njk' as utility %}
{% import 'quotes.macros.njk' as quotes %}
{% import 'layout.macros.njk' as layout %}
{% import 'talks.macros.njk' as talks %}
{% import 'post.macros.njk' as post %}

{% set fw = collections._talk | findPage('data.feature', 'workshop') %}
{% if fw %}
  {% import "page/workshop.macros.njk" as workshop %}
  {{ workshop.feature(fw) }}
{% endif %}

{{ quotes.find(
  collections.all,
  slugs=['spot-on', 'popular-tutorial']
) }}

{{ talks.section(
  title='Upcoming Events',
  events=collections.all | getPublic | getEvents | getFuture,
  all=false,
  by_bird=collections
) }}

{{ layout.title('All Workshops & Talks') }}
{% call layout.grid('training') %}
  {% for item in collections._talk | getPublic | eventSort | reverse %}
    <article {{ post.aria_label(item) }} class="training-item">
      {{ post.hero(item.data.image, 'post') }}
      <header class="training-header">
        {{ post.banner(item) }}
        {{ post.subtitle(item.data.sub) }}
        {{ post.byline(item, collections) }}
      </header>
      {% if item.data.events %}
        <div class="training-detail">
          {{ talks.list(item | pageEvents, compact=true) }}
        </div>
      {% endif %}
    </article>
  {% endfor %}
{% endcall %}
