---
title: Winging It
sub: Chats between UX, CSS, JS, and Python Experts
index: Winging It
image:
  src: winging-it/winging-it-hero.jpg
summary: |
  Hi, OddFriends! At OddBird, we enjoy connecting and having conversations
  across disciplines. Join us as we wing it in this channel and discuss the
  latest on UX Design, CSS, JavaScript, Python and everything in between.
---
