---
title: Jobs
banner: Jobs
permalink: jobs/index.html
---

{% import 'utility.macros.njk' as utility %}
{% import 'embed.macros.njk' as embed %}
{% import 'layout.macros.njk' as layout %}
{% import 'contact.macros.njk' as contact %}
{% import 'birds.macros.njk' as birds %}
{% import 'post.macros.njk' as post %}

{{ embed.figure(
  data=[{
    svg: 'faces/oddbird',
    alt: 'Drawings of all the birds'
  }],
  class='extend-large'
) }}


{{ layout.title('Jobs') }}

{% call layout.grid('birds') %}
    <article>
      <a href="./pm/">Web project manager</a>
    </article>
    <article>
      <a href="./django/">Django developer</a>
    </article>
{% endcall %}
