---
title: Contact
sub: Let's get to know each other
banner: Contact OddBird
social:
  twitter: oddbird
  github: oddbird
  email: birds
summary: |
  **We're always happy to talk** –
  whether you have a project in mind,
  or just want to say *hi*.
  Ask a question,
  inquire about [our services](/services/),
  fill out the form below, or
  [pick a time](https://calendly.com/oddbird/discovery)
  for a call.
  We'll get back to you soon.
---

{% import "contact.macros.njk" as contact %}
{{ contact.form(attrs={'class': 'extend-small'}) }}
