---
title: Services
banner: OddBird's Services
services:
  - /services/development/
  - /services/planning/
  - /services/design-systems/
  - /services/speaking/
summary: |
  **Let’s solve real problems for your business and users** --
  pairing your industry-expertise,
  with our product-design experience.
---

{% import 'post.macros.njk' as post %}

{# placeholder for layout template changes #}

{{ post.grid(
  pages=services,
  level=2,
  collections=collections
) }}
