---
title: Services
banner: OddBird's Services
services:
  - /services/development/
  - /services/planning/
  - /services/design-systems/
  - /services/speaking/
summary: |
  **Let’s solve real problems for your business and users** --
  pairing your industry-expertise,
  with our product-design experience.
---

{% import 'post.macros.njk' as post %}
{% import 'embed.macros.njk' as embed %}

{% for item in services %}
  {% set page = collections.all | getPage(item) %}
    <article {{ post.aria_label(page) }} data-work="summary">
      <div class="offset-grid">
        <div class="offset-item offset-media">
          {% set image = page.data.image %}
            {{ embed.img(
              src=image.src,
              alt=image.alt,
              attrs={
                'style': {
                'object-position': image.position
              } | styles
              }
            ) }}
        </div>
        <div class="offset-item project-details">
        <header class="post-header">
          {% call post.banner(page, level=2,called=true) -%}
           {{  page.data.title | mdInline | safe }}
          {%- endcall %}
        </header>
          <p>{{ page.data.summary | md | elide | safe }}</p>
        </div>
      </div>
    </article>
{% endfor %}
