---
title: Talks & Workshops
sub: Bring us to your conference or browse past talks
index: Training
image:
  src: talks/miriam.jpg
  alt: Miriam Suzanne speaking at a conference
  position: left center
action:
  text: Hire us for conference talks »
  url: /contact/
summary: |
  **We provide award-winning conference talks & workshops** 
  to help you create resilient web applications 
  and design systems -- 
  improving team process, communication, 
  site performance, and accessibility. 
  Missed a conference? 
  Dive into the Resources below 
  for the latest videos & slides, 
  and upcoming conference dates.
---
