---
title: Training & Workshops
sub: Bring us to your company or conference
index: Training
image:
  src: talks/miriam.jpg
  alt: Miriam Suzanne speaking at a conference
  position: left center
summary: |
  We provide in-house training and workshops
  to help you create resilient web applications,
  and design systems --
  while improving team process, communication,
  site performance, and accessibility.
---
