---
title: Training & Workshops
sub: Bring us to your company or conference
index: Training
image:
  src: talks/miriam.jpg
summary: |
  We provide in-house training and workshops
  to help you create resilient web applications,
  and design systems --
  while improving team process, communication,
  site performance, and accessibility.
---

{% import 'layout.macros.njk' as layout %}
{% import 'post.macros.njk' as post %}

{% set upcoming = collections.Training | getEvents(false) | getFuture() %}

{% if upcoming | length > 0 %}
{{ layout.title('Upcoming Events') }}
{{ post.list(upcoming, collections) }}
{% endif %}
