// @@@ temporary…
@forward 'wireframe';

@use '../../node_modules/cascading-color-systems' as ccs with (
  $prime-hue: 195,
  $steps: 6,
  $fades: 1,
  $fade-background: 20%,
  $build: true,
);

[data-ccs-colors] {
  --ccs-neutral--theme: var(--ccs-h--accent);
  --bg: var(--ccs--bg-full);
  --fg: var(--ccs-prime--fg-full);
  --action: var(--ccs-prime--fg1);
  background: var(--bg);
  color: var(--fg);
}

svg {
  max-width: 10em;
  fill: currentColor;
}

[data-active] {
  font-weight: bold;
}

a {
  color: var(--action);
  text-decoration-color: var(--ccs-accent--fg2);
}

