@use '../tools' as *;
@use 'times';

$animate-colors: (
  color times.$fast ease-out,
  background-color times.$fast ease-out,
  text-decoration-color times.$fast ease-out
);
$move: transform times.$mid ease('_out-back');
$pop: box-shadow times.$fast ease('_in-out-back');
$fade: opacity times.$fast ease-out;
$underline: text-decoration-thickness 150ms ease-out;
$fadein-out: fadein-out times.$slow ease-out;
