{%- import 'utility.macros.njk' as utility -%}
<!doctype html>
<html lang="en"
  data-layout="root"
  data-ccs="root"
  data-ccs-theme="{{ ccs.themes | first }}"
  data-ccs-colors>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0" />

    {% set banner = banner or title %}
    {% set description = (sub or summary or site.description) | removeMd %}
    {% set perma = redirect.to if redirect else canonical or ((page.url | htmlBaseUrl(site.url)) if page.url else false) %}

    {% set title_parts = [site.title, title] if (page.url == '/') else [title, site.title] %}
    <title>{{ title_parts | join(' | ') }}</title>
    <meta name="description"
      content="{{ description }}" />

    {# Indie Auth #}
    {% for link in site.me %}
      <link href="{{ link }}" rel="me">
    {% endfor %}

    {# Webmention.io #}
    <link rel="webmention" href="https://webmention.io/www.oddbird.net/webmention" />
    <link rel="pingback" href="https://webmention.io/www.oddbird.net/xmlrpc" />

    {# Favicon #}
    <link rel="icon" type="image/x-icon" sizes="48x48" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff8b3d">
    <meta name="msapplication-TileColor" content="#ff8b3d">

    {% if perma %}
      <link rel="canonical"
        href="{{ perma }}">
    {% endif %}

    {% if redirect %}
      <meta http-equiv="refresh"
        content="0; URL={{ perma }}" />
    {% endif %}

    {% for url in site.styles %}
      <link rel="stylesheet"
        href="/assets/css/{{ url }}" />
    {% endfor %}

    {% for url in extra_styles %}
      <link rel="stylesheet"
        href="/assets/css/{{ url }}" />
    {% endfor %}

    {% include 'site/og.njk' %}
    {% block extra_og %}{% endblock extra_og %}

    {% include 'site/feed.njk' %}

    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#d9e4e7">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2e393e">

    <!-- Context: {{ env.CONTEXT }} -->
    {% if env.CONTEXT === 'production' -%}
      <script defer data-domain="oddbird.net" src="https://plausible.io/js/plausible.js"></script>
    {%- endif %}
  </head>

  <body data-layout="body">
    <a href="#title"
      id="to-content"
      class="sr-only">
      Skip to main
    </a>

    {% typogr %}
    {% include 'site/alert.njk' %}
    {% include 'site/banner.njk' %}
    {% include 'page/base.njk' %}
    {% include 'site/footer.njk' %}
    {% endtypogr %}

    <script type="text/javascript" src="/assets/js/scripts.js"></script>

    <!-- Current page: {{ page.url }} -->
  </body>
</html>
