{%- import 'utility.macros.njk' as utility -%}
<!doctype html>
<html lang="en"
  data-ccs="root"
  data-ccs-theme="{{ ccs.themes | first }}"
  data-ccs-colors>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0" />

    {% set banner = banner or title %}
    {% set description = (sub or summary or site.description) | removeMd %}
    {% set perma = redirect.to if redirect else canonical or (page.url | absoluteUrl(site.url)) %}

    {% set title_parts = [site.title, title] if (page.url == '/') else [title, site.title] %}
    <title>{{ title_parts | join(' | ') }}</title>
    <meta name="description"
      content="{{ description }}" />

    {% if perma %}
      <link rel="canonical"
        href="{{ perma }}">
    {% endif %}

    {% if redirect %}
      <meta http-equiv="refresh"
        content="0; URL={{ perma }}" />
    {% endif %}

    {% for url in site.styles %}
      <link rel="stylesheet"
        href="/assets/css/{{ url }}" />
    {% endfor %}

    {% for url in extra_styles %}
      <link rel="stylesheet"
        href="/assets/css/{{ url }}" />
    {% endfor %}

    {% include 'site/og.njk' %}
    {% block extra_og %}{% endblock extra_og %}

    {% include 'site/feed.njk' %}

    <!-- TypeKit Fonts -->
    <script src="https://use.typekit.net/slx1xnq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {% if site.google_analytics_id and env.ELEVENTY_ENV === 'production' -%}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics_id }}');
      </script>
    {%- endif %}
  </head>

  <body data-layout="body">
    <a href="#title"
      id="to-content"
      class="sr-only">
      Skip to main
    </a>

    {% include "site/alert.njk" %}
    {% include "site/banner.njk" %}
    {% include 'page/base.njk' %}
    {% include 'site/cta.njk' %}
    {% include 'site/footer.njk' %}

    <script type="text/javascript" src="/assets/js/scripts.js"></script>

    <!-- Current page: {{ page.url }} -->
  </body>
</html>
