{%- import 'utility.macros.njk' as utility -%}
<!doctype html>
<html lang="en"
  data-ccs="root"
  data-ccs-theme="{{ ccs.themes | first }}"
  data-ccs-colors>
  {% set meta = collections.all | meta(page, renderData, site) %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0" />

    <title>{{ [meta.title, site.title] | join(' | ') }}</title>
    <meta name="description"
      content="{{ meta.description }}" />

    {% set elsewhere = '_elsewhere' in (tags or []) %}
    <link rel="canonical"
      href="{{ (meta.url if elsewhere else meta.canonical) | url }}">

    {% for url in site.styles %}
      <link rel="stylesheet"
        href="/assets/css/{{ url }}" />
    {% endfor %}

    {% for url in extra_styles %}
      <link rel="stylesheet"
        href="/assets/css/{{ url }}" />
    {% endfor %}

    {% include 'site/og.njk' %}
    {% block extra_og %}{% endblock extra_og %}

    {% include 'site/feed.njk' %}

    <!-- TypeKit Fonts -->
    <script src="https://use.typekit.net/slx1xnq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body data-layout="body">
    <a href="#title"
      id="to-content"
      class="sr-only">
      Skip to main
    </a>

    {% include "site/banner.njk" %}
    {% include 'page/base.njk' %}
    {% include 'site/footer.njk' %}

    <script type="text/javascript" src="/assets/js/scripts.js"></script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
