---
---

{# Macros ------------------------------- #}

{% macro describe(pattern) %}
  {% if pattern.note %}
    {{ pattern.note | md | safe }}
  {% endif %}

  {% if pattern.params %}
    <h4>Params:</h4>
    <ul data-dox="params">
      {% for key, item in pattern.params %}
        <li>
          <code>
            <strong>{{ key }}</strong>
            {% if item.type %}
              {{ '{' + item.type + '}' }}
            {% endif %}
            {% if item.default %}
              = <em>{{ item.default }}</em>
            {% endif %}
          </code>
          {% if item.note %}
            {{ item.note | md | safe }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if pattern.links %}
    <h4>Links:</h4>
    <ul>
      {% for link in pattern.links %}
        <li>{{ link | mdInline | safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if pattern.example %}
    <h4>Example:</h4>
    {% highlight doc_lang %}{{ pattern.example | safe }}{% endhighlight %}
  {% endif %}

  {% if pattern.todo %}
    <h4>Todo:</h4>
    {{ pattern.todo | md | safe }}
  {% endif %}
{% endmacro %}

{% macro show(
  patterns
) %}
  {% for pattern in patterns %}
    <article id="{{ pattern.slug }}">
      <h3>
        <a href="#{{ pattern.slug }}">
          <code>{{ pattern.label }}()</code>
        </a>
      </h3>

      {{ describe(pattern) }}
    </article>
  {% endfor %}
{% endmacro %}

{# Content ------------------------------- #}

{{ describe(file.info) }}

<hr>

{% for group, patterns in file.patterns | groupby("category") %}
{% set group = none if (group | lower == 'undefined') else group %}
{% set doxType = 'Macros' if macros else 'Filters' %}
<section>
  {% set title = value %}
  <h2>{{ group or doxType }}</h2>
  {{ show(patterns) }}
</section>
{% else %}
<p>No patterns documented…</p>
{% endfor %}

<hr>

{{ content | safe }}
