[data-layout='body'] {
  display: grid;
  grid:
    'menu' auto
    'banner' auto
    'main' 1fr
    'footer' auto /
    minmax(0, 1fr);
  grid-gap: 1em;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 45em;
  min-height: 100vh;
}

[data-layout='menu'] {
  grid-area: menu;
  margin: 0;
  padding: 1em;
}

[data-layout='banner'] {
  grid-area: banner;
  padding: 1em;
}

[data-layout='main'] {
  grid-area: main;
  padding: 1em;
}

[data-layout='footer'] {
  font-size: var(--small);
  grid-area: footer;
  padding: 1em;
}
