@use '../../../node_modules/accoutrement/sass/tools';

[data-hidden] {
  @include tools.is-hidden;
}

// Skip to Content
// ---------------

.to-content {
  &:link,
  &:visited {
    --underline-color: currentColor;
    background: var(--active);
    color: var(--bg);
    left: 50%;
    opacity: 0;
    padding: var(--shim) var(--gutter);
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate3d(-50%, -100%, 0);
    transition: tools.change('move'), tools.change('fade');
    z-index: 5;
  }

  &:focus,
  &:active {
    opacity: 1;
    pointer-events: initial;
    transform: translate3d(-50%, 0, 0);
  }
}
