.align-left {
  float: left;
  margin-bottom: var(--newline);
  margin-right: var(--gutter);
}

.align-right {
  float: right;
  margin-bottom: var(--newline);
  margin-left: var(--gutter);
}

.align-center {
  display: block;
  margin: 0 auto var(--newline);
}

.align-none {
  margin-bottom: var(--newline);
}

// Text Centering
// --------------

.center-text {
  text-align: center;
}
