.contain {
  display: flow-root;
}

[class*='align-'] {
  margin: var(--shim) var(--inline-margin, 0);
}

.align-left {
  float: left;
  margin-right: var(--gutter);
  max-width: 45%;
  width: auto;
}

.align-right {
  float: right;
  margin-right: var(--left);
  max-width: 45%;
  width: auto;
}

.align-center {
  --inline-margin: auto;
  display: block;
  width: auto;
}

// Text Centering
// --------------

.center-text {
  text-align: center;
}
