@use '~accoutrement/sass/tools';

blockquote {
  --angle: var(--double-gutter);
  --angle-space: calc(var(--angle) + var(--gutter));
  --edge: minmax(var(--page-margin), 1fr);
  --quote: minmax(min-content, var(--page));
  background-color: var(--callout-fade);
  display: grid;
  margin: var(--newline) 0;
  padding: var(--spacer) 0;

  &:nth-of-type(odd) {
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--angle)) 100%, 0 100%);
    grid: 'edge icon quote' auto / var(--edge) auto var(--quote);
    padding-right: var(--angle-space);
  }

  &:nth-of-type(even) {
    clip-path: polygon(var(--angle) 0, 100% 0, 100% 100%, 0 100%);
    grid: 'icon quote edge' auto / auto var(--quote) var(--edge);
    padding-left: var(--angle-space);
  }

  .u-photo {
    border-radius: 100%;
  }

  .p-name {
    font-style: italic;
  }

  &:not([data-quote]) {
    &::before {
      color: var(--icons);
      content: '“';
      font-size: 4em;
      grid-column: icon;
      margin: -0.25em var(--gutter) -2em;
    }

    > * {
      grid-column: quote;
    }

    > p:last-child:not(:first-child) {
      --newline: 0;
      font-size: var(--small);
    }
  }
}

// Quote Pattern
// -------------

[data-quote='solo'],
blockquote:not([data-quote]) {
  &:nth-of-type(odd) {
    --column: full / wide;
    margin-left: 0;
    padding-left: var(--page-margin);
  }

  &:nth-of-type(even) {
    --column: wide / full;
    margin-right: 0;
    padding-right: var(--page-margin);
  }
}

[data-media='quote'] {
  --fill: var(--icons);
  --media-size: var(--double-gutter);
  --media-min: 3em;
  grid-area: quote;
}

// Quote Grids
// -----------

.quote-grid {
  --overlap: var(--page-margin);
  --column: full;
  display: grid;
  grid-gap: var(--double-gutter);
  margin: var(--spacer) 0;

  @include tools.above('wide-page') {
    --overlap: calc(var(--gutter) * -1);
    --offset: var(--spacer);
    grid-template: var(--offset) / repeat(2, 1fr);

    // provide space for the right-hand vertical offset
    &::before {
      content: '';
      grid-column: span 2;
    }
  }
}

[data-quote='grid'] {
  margin: 0;

  &:nth-of-type(odd) {
    margin-right: var(--overlap);
  }

  &:nth-of-type(even) {
    margin-left: var(--overlap);
    transform: translateY(calc(var(--offset) * -1));
  }
}

// Signature
// ---------

.signature {
  display: grid;
  grid:
    [sig-start] auto [by-start] var(--gutter-plus) [sig-end] auto [by-end]
    / [sig-start] 3em [by-start] max-content [by-end sig-end];
  justify-content: end;
  transform: rotate(calc(var(--rotate) * -1));

  [data-img] {
    grid-area: sig;
    height: 4em;
    width: auto;
  }

  .byline {
    grid-area: by;
  }
}
