@use '../../../node_modules/accoutrement/sass/tools';

/// # Button Pattern
/// @group buttons

// Basic Buttons
// -------------
/// The basic button accepts one CSS adjustment variable --
/// `--btn-padding` --
/// which allows an override of inline padding on the button.
/// @group buttons
[data-btn] {
  @include tools.font-family('alt');
  @include tools.transition('colors');
  align-items: center;
  background: var(--highlight);
  border: 0;
  border-radius: var(--radius);
  color: var(--bg);
  cursor: pointer;
  display: inline-flex;
  font-size: inherit;
  padding: var(--quarter-shim) var(--btn-padding, var(--double-gutter));

  &:hover,
  &:focus {
    background: var(--accent);
  }

  &:active,
  &[aria-pressed='true'] {
    background: var(--action-focus);
  }
}

// Small
// -----
/// "Small" buttons override both the font-size
/// and the inline padding.
/// @group buttons
[data-btn~='small'] {
  --btn-padding: var(--gutter);
  font-size: var(--small);
}
