// Buttons and Button Links
// ========================

[data-btn] {
  @include font-family('alt');
  @include transition('colors');
  align-items: center;
  background-clip: padding-box;
  border: 1px solid;
  border-radius: size('border-radius');
  display: inline-flex;
  font-weight: bold;
  padding: size('half-shim') size('gutter');
  text-decoration: none;

  @include after('»') {
    font-weight: normal;
    padding: 0 size('quarter-shim');
    transform-origin: 50% 60%;
    transition: transform 250ms;
  }

  #{$focus},
  &[aria-pressed='true'] {
    @include contrasted('action');

    &::after {
      transform: translateX(size('quarter-shim'));
    }
  }

  &[aria-pressed='true'] {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.small-btn {
  font-size: size('small');
  line-height: normal;
  padding: size('half-shim') size('shim');
}

.content-img {
  + .btn {
    margin-top: size('gutter');
  }
}
