.has-dropdown {
  position: relative;
}

[data-dropdown] {
  background: var(--overlay);
  box-shadow: 0 var(--quarter-shim) var(--quarter-shim) var(--border-fade);
  max-width: 14em;
  position: absolute;
  width: calc(100vw - var(--double-gutter));
  z-index: 4;

  &[aria-expanded='false'] {
    display: none;
  }
}

[data-dropdown~='pad'] {
  padding: var(--gutter);
}

[data-dropdown~='ltr'] {
  left: 0;
}

[data-dropdown~='rtl'] {
  right: 0;
}
