[data-face] {
  --eyes: hsla(
    var(--ccs-h--neutral),
    var(--ccs-s--bg6),
    var(--ccs-l--bg6),
    var(--ccs-invert--zero)
  );
  overflow: visible;
}

.eyes {
  fill: var(--eyes, black);
}

// combined SVG
[data-nest] {
  transform: translate(var(--x, 0), var(--y, var(--row, 0)));

  &:nth-child(odd) {
    --row: 80px;
  }
}

[data-nest='olu'] {
  --x: -10px;
}

[data-nest='stacy'] {
  --x: 330px;
}

[data-nest='davidh'] {
  --x: 645px;
}

[data-nest='sondra'] {
  --x: 950px;
}

[data-nest='miriam'] {
  --x: 1310px;
}

[data-nest='carl'] {
  --x: 1660px;
}

[data-nest='ed'] {
  --x: 2030px;
  --y: 100px;
}

[data-nest='patricia'] {
  --x: 2385px;
  --y: -10px;
}

[data-nest='jonny'] {
  --x: 2760px;
  --y: 100px;
}
