@use '../../../node_modules/accoutrement/sass/tools';

[data-field] {
  display: block;
  margin-bottom: var(--shim);
}

[data-label] {
  @include tools.font-family('alt');
  display: block;
}

[data-input*='text'] {
  border: thin solid var(--border);
  display: block;
  font: inherit;
  font-size: var(--small);
  padding: var(--half-shim);
  width: 100%;

  &:focus {
    border-color: var(--action);
    outline: medium solid var(--action);
    outline-offset: 0;
  }
}

[type='textarea'] {
  min-height: 8em;
}

select {
  width: 100%;
}

.form-actions {
  margin: var(--newline) 0;
}
