@use '~accoutrement/sass/tools';

fieldset {
  border-color: var(--border-fade);
  margin: 0 0 var(--newline);
  padding: var(--shim);
}

legend {
  font-size: var(--xsmall);
  padding: 0 var(--shim);
}

// Fields
// ------
/// Form fields (using the `label` for markup)
/// are set to block display, with a margin.
/// @group forms
[data-field] {
  display: var(--ccs-custom-display, block);
  margin-bottom: var(--shim);
}

[data-honey] {
  @include tools.is-hidden;
}

// Labels
// ------
/// Form label text uses a span inside the wrapper label
/// and is displayed above the input.
/// @group forms
[data-label] {
  @include tools.font-family('alt');
  display: block;
}

// Text Inputs
// -----------
/// Varioius input "types" all rely on the same basic
/// text-input style.
/// @group forms
[data-input*='text'] {
  background-color: var(--bg-full);
  border: thin solid var(--border);
  border-radius: 0;
  color: var(--text);
  display: block;
  font: inherit;
  font-size: var(--xsmall);
  padding: var(--half-shim);
  width: 100%;

  &:focus {
    border-color: var(--action);
    outline: medium solid var(--action);
    outline-offset: 0;
  }
}

[data-radio='group'] {
  --radio-border: var(--text);
  --radio-focus: var(--active);
  display: flex;
}

[data-radio='input'] {
  @include tools.is-hidden;
}

[data-radio='option'] {
  border: thin solid var(--radio-border);
  border-radius: var(--first, 0) var(--last, 0) var(--last, 0) var(--first, 0);
  cursor: pointer;
  flex: auto;
  padding: var(--quarter-shim) var(--gutter);
  text-align: center;
  text-transform: capitalize;

  [data-radio='input']:checked + & {
    --radio-border: var(--radio-focus);
    font-weight: bold;
    box-shadow: 0 0 0 var(--quarter-shim) var(--radio-focus) inset;
  }

  &:first-of-type {
    --first: var(--radius);
  }

  &:last-of-type {
    --last: var(--radius);
  }
}

// Text Areas
// ----------
/// @group forms
textarea {
  min-height: calc(6em + 4vw);
  resize: vertical;
}

// Select
// ------
/// @group forms
select {
  font: inherit;
  font-size: var(--xsmall);
  width: 100%;
}

// Form Actions
// ------------
/// A wrapper element to provide layout and spacing
/// of the actions at the end of a form.
/// @group forms
.form-actions {
  margin-top: var(--newline);
}
