@use '../../../node_modules/accoutrement/sass/tools';

svg {
  fill: currentColor;
  padding: 1px;
}

[data-icon] {
  height: var(--icon-height, var(--icon-size, 1em));
  width: var(--icon-width, var(--icon-size, 1em));
}

.inline-icon {
  margin-right: var(--half-shim);
}
