@use '../../../node_modules/accoutrement/sass/tools';

[data-media] {
  align-items: var(--align, start);
  display: grid;
  grid-gap: var(--shim) var(--gutter);

  @media (min-width: 40em) {
    grid-template-columns: fit-content(25%) minmax(min-content, 1fr);
  }
}

.media-image {
  justify-self: center;
  max-width: var(--media-max, initial);
  min-width: var(--media-min, initial);
  width: var(--media-size, initial);
}

.media-content {
  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

// Ratios
// ------

[data-ratio='parent'] {
  --ratio: #{tools.ratio('_widescreen')};
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    height: 0;
    padding-top: calc(100% / var(--ratio, #{tools.ratio('_widescreen')}));
    width: 1px;
  }
}

[data-ratio='child'] {
  @include tools.position(0);
  @include tools.square(100%);
}
