@use '../../../node_modules/accoutrement/sass/tools';
@use '../config/scale';
@use 'sass:map';

// Main Actions
// ------------
/// Main actions are large block links,
/// used atthe end of a section
/// to represent themain call to action of that section.
/// @group links
.main-action {
  --link: var(--accent);
  font-size: var(--medium);
  margin-top: var(--double-gutter);
}

[data-block] {
  margin-block: var(--double-gutter);
}

[data-block~='center'] {
  margin-inline: auto;
}

[data-block~='rotate'] {
  transform: rotate(var(--rotate));

  @include tools.above('medium-page') {
    --rotate: -6deg;
  }
}

@each $name in map.keys(scale.$page-sizes) {
  [data-block~='#{$name}'] {
    max-width: var(--#{unquote($name)});
  }
}
