@use '~accoutrement/sass/tools';

[data-table] {
  border-collapse: collapse;
  margin: var(--newline) 0;
  width: 100%;

  th {
    @include tools.font-family('alt');
    font-weight: bold;
  }

  th,
  td {
    border: thin solid var(--cell-border, var(--border));
    padding: var(--cell-padding, var(--shim));
    font-style: inherit;
    text-align: left;
  }

  thead {
    font-size: var(--thead-size, var(--xsmall));
  }

  tbody {
    font-size: var(--tbody-size, var(--xsmall));
  }
}
