@use '~accoutrement/sass/tools';

.visually-hidden {
  display: none;
}

.anchor-link-wrapper {
  position: relative;

  h2 {
    display: inline;
  }
}

.header-anchor {
  position: absolute;
  right: 100%;
  width: var(--gutter);
  top: var(--half-shim);
}

.anchor-clicked:before {
  content: 'Link Copied';
  position: absolute;
  right: 1.5em;
  font-size: var(--xxsmall);
  white-space: nowrap;
  top: 0.5em;
  color: var(--link, var(--action));
}
