@use '~accoutrement/sass/tools';

$two-column: 45em;

[data-layout='footer'] {
  @include tools.font-family('alt');
  display: grid;
  font-size: var(--small);
  grid-area: footer;
  grid-gap: var(--gutter);
  padding: var(--gutter) 0 var(--spacer);

  @include tools.above($two-column) {
    grid-template-columns: minmax(10em, var(--page)) minmax(
        10em,
        var(--small-page)
      );
    justify-content: space-between;
  }
}

[role='contentinfo'] {
  --link: currentColor;
  --underline-color: currentColor;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-rows: 1fr auto;
  padding-top: var(--gutter);

  @include tools.above($two-column) {
    text-align: right;
  }

  a {
    display: inline-block;
    font-weight: bold;
  }
}

.legal {
  --newline: 0;
  font-size: var(--xsmall);
}
