@use '../../../node_modules/accoutrement/sass/tools';

.page-header {
  --angle: var(--edge);
  --edge: calc(var(--body-inline) / 2);
  --overlap: var(--gutter);
  margin: 0 calc(var(--body-inline) * -1) var(--spacer);
  display: grid;
  grid-area: header;
  grid-template:
    'hero hero' auto
    'title hero2' var(--overlap)
    'title .' auto
    'meta meta' auto
    / auto minmax(var(--edge), 1fr);

  @media (min-width: 35em) and (min-height: 35em) {
    --overlap: var(--h1);
  }

  @include tools.above(35em) {
    --angle: var(--body-inline);
    --edge: var(--body-inline);
  }

  @include tools.above(50em) {
    --edge: 25%;
  }
}
