#intro {
  --newline: var(--newline--default);

  grid-area: intro;

  [data-header='hero'] & {
    justify-self: var(--hero-header-justify, center);
    max-width: var(--wide-page);
    margin: var(--hero-header-margin-block, var(--spacer)) var(--page-margin);
    width: calc(100% - var(--page-margin) * 2);
  }
  
  // Larger intro type only on pages with hero images
  [data-header='hero']:has([data-hero]) & {
    font-size: var(--medium);
  }
}

.summary {
  > :last-child {
    --newline: 0;
  }
}

[data-media='bird-intro'] {
  --align: center;
  --media-max: var(--logo-item);
}
