#intro {
  grid-area: intro;

  [data-header='hero'] & {
    font-size: var(--medium);
    justify-self: center;
    max-width: var(--wide-page);
    margin: var(--spacer) var(--page-margin);
  }
}

.summary {
  > :last-child {
    --newline: 0;
  }
}
