#intro {
  grid-area: intro;

  [data-header='hero'] & {
    font-size: var(--medium);
    margin-top: var(--gutter);
  }
}

.page-action {
  display: inline-block;
  font-size: var(--medium);
  margin-bottom: var(--newline);
}
