@use '~accoutrement/sass/tools';

[data-layout='main'] {
  grid-area: main;
}

[data-grid] {
  --fit--default: minmax(var(--fit-min, var(--grid-item)), var(--fit-max, 1fr));
  display: grid;
  font-size: var(--small);
  grid:
    var(--row-template, auto-flow)
    / var(--col-template, repeat(auto-fit, var(--fit, var(--fit--default))));
  grid-gap: var(--row-gap, var(--gap, var(--double-gutter)))
    var(--col-gap, var(--gap, var(--double-gutter)));
  justify-content: var(--justify, center);
  justify-items: var(--justify, center);
}

[data-grid='resources'] {
  justify-items: stretch;
  list-style: none;
}

[data-post] {
  display: grid;
  grid-template:
    [card-start type-start] auto [type-end] 1fr [card-end]
    / [card-start] 1fr [type-start] auto [type-end card-end];
}

.post-type {
  &:link,
  &:visited {
    @include tools.z-index('bump');
    --fill: var(--post-type, var(--feature));
    border-radius: var(--radius);
    display: block;
    font-size: var(--small);
    grid-area: type;
    line-height: 1;
    padding: var(--half-shim);
    position: relative;
  }

  &:hover,
  &:focus,
  &:active {
    --fill: var(--post-type-active, var(--active));
  }

  .link-text {
    @include tools.is-hidden;
  }
}

[data-feature='small'] {
  --card: var(--bg);
  --rotate: -3deg;
  --post-type: var(--bg);
  --post-type-active: var(--callout);
  background-color: var(--feature-accent);
  background-image: linear-gradient(to bottom, transparent, var(--feature));
  margin: calc(var(--half-shim) * -1);

  [data-card] {
    margin: calc(var(--quarter-shim));
  }
}

[data-feature='large'] {
  font-size: 1rem;
  grid-column: 1 / -1;
  margin: var(--gutter) 0 var(--double-gutter);
}

.card-hero {
  --area: 1 / -1;
  clip-path: var(--crop);

  img {
    border: 1px solid var(--border);
    max-height: 50vh;
    min-height: 10em;
    object-fit: cover;
    width: 100%;
  }
}

[data-card] {
  --crop-size: var(--triple-gutter);
  --crop: polygon(
    0 0,
    calc(100% - var(--crop-size)) 0,
    100% var(--crop-size),
    100% 100%,
    0 100%
  );
  grid-area: card;

  .h-card {
    font-weight: bold;
  }
}

[data-card='link'] {
  &:link,
  &:visited {
    @include tools.transition('pop');
    color: inherit;
    display: grid;
    text-decoration: none;
    transform: rotate(var(--rotate, 0));
  }

  &:hover,
  &:focus,
  &:active {
    filter: drop-shadow(0 0 var(--half-shim) var(--shadow-light));
    transition-delay: 20ms; // avoid janky scrolling
  }

  .byline {
    font-size: var(--xsmall);
    margin: 0;
  }
}

[data-card='feature'] {
  display: grid;
  grid-template-columns: 1fr [main-start] minmax(min-content, var(--small-page)) [main-end] 1fr;

  > * {
    grid-column: var(--area, main);
  }

  .summary {
    margin: var(--gutter) 0;
  }
}

.card-inner {
  background-color: var(--card, var(--bg-full));
  clip-path: var(--crop);
  padding: var(--gutter);
}

.card-title {
  @include tools.font-family('alt');
  font-size: 1.25em;
  font-style: normal;
  margin: 0 var(--shim) 0 0;
}

.card-meta {
  --newline: var(--shim);
}
