@use '~accoutrement/sass/tools';

[data-main] {
  grid-area: main;
  margin: var(--gutter) 0;
}

[data-typeset] {
  display: grid;
  grid-template-columns: var(--page-columns);

  > * {
    grid-column: var(--column, page);
  }
}
