@use '~accoutrement/sass/tools';

[data-layout='main'] {
  grid-area: main;
}

[data-main] {
  margin: var(--gutter) 0;

  > :first-child {
    margin-top: 0;
  }
}

[data-typeset] {
  display: grid;
  grid-template-columns: var(--page-columns);

  > * {
    grid-column: var(--column, page);
  }
}
