[data-layout='nav'] {
  font-size: var(--small);
  grid-column: logo / nav;
  grid-row: nav;
}

[data-navlist] {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin-bottom: var(--shim);
  padding: 0;
}

[data-navlist='main'] {
  margin-right: calc(var(--banner-space) * -1);

  // this keeps the first line from overlapping with the logo tail
  &::before {
    content: '';
    width: 6em;
  }
}

[data-nav] {
  display: inline-block;
  padding: var(--shim) var(--banner-space);

  &:not(:hover, :active, :focus, [aria-current]) {
    --underline-color: transparent;
    --underline-thickness: 0;
  }
}

[aria-current='wide-page'] {
  --link: var(--active);
  --link-focus: var(--link);
  --underline-color: var(--link);
}

// The anchor positioning polyfill doesn't support implicit anchors with popover
li[dropdown-menu] {
  anchor-scope: --dropdown-menu;

  button{
    anchor-name: --dropdown-menu;
  }

  [popover]{
    // Default of fixed position doesn't work with anchor positioning polyfill
    position: absolute;
    position-anchor: --dropdown-menu;

    // TODO: Can we move to logical? That was causing issues with the polyfill
    left: anchor(left);
    top: anchor(bottom);
    margin: unset;
  }
}

// Hide popover until polyfilled
@supports not selector(:popover-open) {
  [popover]:not(.\:popover-open) {
    display: none;
  }
}
