@use '../../../node_modules/accoutrement/sass/tools';

[data-layout='nav'] {
  font-size: var(--small);
  grid-area: nav;
  margin-left: -3em;
}

[data-navlist] {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin-right: calc(var(--banner-space) * -1);
  padding: 0;
}

[data-nav] {
  --underline-color: transparent;
  --underline-thickness: 0;
  display: inline-block;
  padding: var(--half-shim) var(--banner-space);
}

[data-active='nav'] {
  @include tools.font-family('body');
  --link: var(--active);
  --underline-color: transparent;
  --underline-thickness: 0;
  font-style: italic;
}
