@use '~accoutrement/sass/tools';

html {
  // image, size, position, & media-queries are all related *magically*
  // and should be adjusted/tested as a group by hand
  @supports (background-blend-mode: multiply) {
    background-blend-mode: var(--bg-blend, multiply);
    background-image: url('../media/header-wash.png'),
      url('../media/footer-wash.png');
    background-position: var(--header-pos, left -8em) top 0, bottom left;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 5.5em, 20em auto;
  }

  @include tools.above(40em) {
    --header-pos: right 0;
  }

  @include tools.above(50em) {
    --header-pos: left 0;
  }

  @media (prefers-color-scheme: dark) {
    &:not([style*='--ccs-mode--user']) {
      --bg-blend: color-dodge;
    }
  }
}

[style*='--ccs-mode--user:-1'] {
  --bg-blend: color-dodge;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template:
    'alert' auto
    'banner' auto
    'main' 1fr
    'cta' auto
    'footer' auto
    / 100%;
}
