---
title: Nunjucks Macros
---

{% import "utility.macros.njk" as utility %}

<ul>
  {% for file in dox %}
    <li>
      {{ utility.link_if(file.name, '/sample/macros/' + file.slug | slug) }}
    </li>
  {% endfor %}
</ul>
