/// ## Background Colors
/// -----------------
/// Rather than using the brand colors directly,
/// we use them to set default values for generated variables.
/// This provides a mapping between semantic background use-cases,
/// and automatically-generated color variables.
/// @colors background-colors
/// @group config-color

$bg: var(--ccs-neutral--bg-full);
$bg-full: var(--ccs--bg-full);
$callout: hsl(var(--ccs-h--prime), var(--ccs-s--bg3), var(--ccs-l--bg5));
$callout-neutral: var(--ccs-neutral--bg5);
$callout-fade: hsla(var(--ccs-h--prime),
    var(--ccs-s--bg2),
    var(--ccs-l--bg5),
    var(--ccs-fade));
$callout-special: var(--ccs-special--bg5-fade);
$overlay: var(--ccs-neutral--bg6-fade);
$overlay-banner: hsla(var(--ccs-h--neutral),
    var(--ccs-s--bg6),
    var(--ccs-l--bg6),
    40%);
