$text: var(--ccs-neutral--fg-full);
$text-light: var(--ccs-neutral--fg3);
$accent: var(--ccs-accent--fg1);
$highlight: var(--ccs-accent--fg3);
$feature: var(--ccs-prime--fg4);
$border: var(--ccs-neutral);
$border-fade: var(--ccs-neutral--fade);
$shadow: hsla(var(--ccs-h--neutral), var(--ccs-s--fg6), var(--ccs-l--fg6), 25%);
$action: var(--ccs-prime--fg3);
$active: $highlight;
$icon: var(--ccs-special--fg1);
$scroll-panel-bg: hsl(var(--ccs-h--prime), var(--ccs-s--bg4), var(--ccs-l--bg5));
$scrollbar-track: var(--ccs-prime--bg4-fade);
$scrollbar-thumb: var(--ccs-prime--bg6-fade);
