{%- import 'post.macros.njk' as post -%}
{%- import 'layout.macros.njk' as layout -%}

{% include "page/header.njk" %}

<main data-layout="main">
  {% if (content or summary) %}
    <div
      data-main
      data-typeset>
      {{ content | typogr | safe }}
    </div>
  {% endif %}

  {% set show = renderData.index or index %}
  {% set resources = collections[show] if show else none %}
  {% set resources = collections._post | byBird(bird) if bird and (bird != 'oddbird') else resources %}
  {% if resources %}
    {% set list_title = show | displayName if show else none %}
    {% set list_title = bird | capitalize + "'s" if bird else list_title %}
    {% set list_title = list_title + ' Resources' if list_title else none %}

    {% if index_title != 'hide' %}
      {{ layout.title(index_title or list_title) }}
    {% endif %}
    {{ post.list(resources, collections) }}
  {% endif %}
</main>
