{%- import 'utility.macros.njk' as utility -%}

{# is this the page for one of us? #}
{%- set is_bird = bird and (bird != 'oddbird') -%}

{# Does this page contain a feed of multiple entries on a topic? #}
{%- set is_feed = is_feed or index or is_bird -%}

{# is this page itself an entry that can be syndicated in a feed? #}
{%- set is_entry = tags and ('_post' in tags) -%}

{# is this page a talk/workshop? #}
{%- set is_talk = tags and ('_talk' in tags) -%}

{# is this page a Podcast, Video, or Winging It episode page? #}
{%- set is_episode = tags | pageType('tag') in ['Podcast', 'Video', 'Winging It'] -%}

{# based on the above, what microformats should be applied? #}
{# see: https://microformats.org/wiki/microformats2 #}
{%- set hclass = 'h-feed' if is_feed else ('h-entry' if is_entry else none) -%}
{%- set hclass = [hclass or '', 'h-card'] | join(' ') if is_bird else hclass -%}

{# The actual output HTML #}
<main data-layout="main" aria-labelledby="title" {{ utility.attr_if('class', hclass) }}>
  {% include 'page/header.njk' %}

  {% if content -%}
    {%- set hcontent = 'e-content' if is_entry else ('p-note' if is_bird else none) -%}
    <div data-main data-typeset {{ utility.attr_if('class', hcontent)}}>
      {{ content | safe }}
    </div>
  {%- endif %}

  {% include 'page/mentions.njk' %}
  {% include 'page/list.njk' %}

  <!-- used for webmentions -->
  <a href="{{ page.url | url }}" class="u-url" hidden>{{ (banner or title) | removeMd }}</a>
  {% for link in syndication -%}
    <a rel="syndication" class="u-syndication" href="{{ link | url }}" hidden>{{ link | url }}</a>
  {%- endfor %}
</main>
