{% import 'embed.macros.njk' as embed %}

{% set device = (image and image.device) %}
{% set face = (image and image.face) %}
{% set details %}
  {% include 'page/title.njk' %}
  {% include 'page/meta.njk' %}
  {% include 'page/intro.njk' %}
{% endset %}

<header
  data-layout="header"
  data-header="{{ 'media' if (device or face) else 'hero' }}">
  {% if device %}
    {% set hero = embed.screen(
      fill=image.fill,
      content=embed.img(image.src, image.alt)
    ) %}

    {{ embed.media_block(
      media=hero,
      name='hero',
      reverse='vertical',
      attrs={'data-block': 'rotate'},
      content=details
    ) }}
  {% elif face %}
    {{ embed.media_block(
      media=embed.svg('faces/' + image.face),
      name='hero',
      attrs={'data-block': 'rotate'},
      content=details
    ) }}
  {% else %}
    {% include 'page/hero.njk' %}
    {{ details | safe }}
  {% endif %}
</header>
