{% import 'utility.macros.njk' as utility %}

<header data-layout="header">
  {% if image.src %}
    {% set style = ['--hero-position', image.position] | join(':') if image.position else none %}
    <div id="hero">
      <img
        src="{{ site.images + image.src }}"
        alt="{{ image.alt or '' }}"
        {{ utility.attr_if('style', style) }}
        class="hero-image"/>
    </div>
  {% endif %}

  <h1 id="title"
    tabindex="-1">
    {{ meta.banner | mdInline('amp') | safe }}
  </h1>

  {% include 'page/meta.njk' %}
</header>
