{% import 'embed.macros.njk' as embed %}

{% set device = (image and image.device) %}
{% set media = device or (image.type == 'media') %}
{% set details %}
  {% include 'page/title.njk' %}
  {% include 'page/meta.njk' %}
  {% include 'page/intro.njk' %}
{% endset %}

<header
  data-layout="header"
  class="post-header"
  data-header="{{ 'media' if media else 'hero' }}">
  {% if device %}
    {% set hero = embed.screen(
      fill=image.fill,
      content=embed.img(image.src, image.alt)
    ) %}

    {{ embed.media_block(
      media=hero,
      name='hero',
      reverse='vertical',
      attrs={'data-block': 'rotate'},
      content=details
    ) }}
  {% elif media %}
    {{ embed.media_block(
      media=embed.svg(image.svg) if image.svg else embed.img(image.src, image.alt),
      name='hero',
      attrs={'data-block': 'rotate'},
      content=details
    ) }}
  {% else %}
    {% if image %}
    {% include 'page/hero.njk' %}
    {% endif %}
    {{ details | safe }}
  {% endif %}
</header>
