{% import 'utility.macros.njk' as utility %}

{% if summary or action %}
  <div id="intro" class="summary">
    {{ summary | md | safe }}

    {% if action %}
      {{ utility.main_action(action.text, action.url) }}
    {% endif %}
  </div>
{% endif %}
