{% import 'embed.macros.njk' as embed %}
{% import 'utility.macros.njk' as utility %}

{% if summary or action %}
  <div id="intro" class="summary{% if is_feed or is_entry %} p-summary{% endif %}">
    {% if page.url == '/workshops/cascading-layouts/' %}
      {% callout 'note', false %}
        <p>Earlybird tickets go on sale on <strong>March 31st, 2025!</strong></p>
        <p>For reminders, or to get the latest information about this
        workshop and other OddNews, subscribe to
        our <a href="/oddnews/">newsletter</a>.</p>
      {% endcallout %}
    {% endif %}
    {% if badges %}
      <ul class="oss-badges">
        {% for badge in badges %}
          <li>
            {{ utility.link_if(
              content=embed.img(
                src=badge.src,
                alt=badge.name
              ),
              url=badge.url
            ) }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {# for active birds we add a sketch to the intro
        even when we have a header image #}
    {% set is_active = is_bird and collections.birds | active | authorPage(bird) %}

    {% if is_active %}
      {{ embed.media_block(
        media=embed.svg('faces/' + bird),
        name='bird-intro',
        content=summary | md | safe
      ) }}
    {% else %}
      {{ summary | md | safe }}
    {% endif %}

    {% if action %}
      {{ utility.main_action(action.text, url=action.url) }}
    {% elif venue and canonical %}
      {{ utility.main_action(['See more at', venue, '»'] | join(' '), canonical) }}
    {% endif %}
  </div>
{% endif %}
