{% import 'post.macros.njk' as post %}
{% import 'oss.macros.njk' as oss %}
{% import 'layout.macros.njk' as layout %}

{% set index = renderData.index or index %}
{% set index = {'slug': index} if index | typeCheck('string') else index %}

{% if index %}
  {% set event_pages = {
    'all': true,
    'only': false,
    'true': 'mixed'
  } %}
  {% set pages = event_pages[index.events] if index.events else 'mixed' %}
  {% set list = collections[index.slug] if index.slug else none %}
  {% set list = list | getEvents(pages) if index.events else list %}
  {{ post.by_year(list, collections) }}
{% elif bird and (bird != 'oddbird') %}
  {{ oss.list(
    collections.oss | byBird(bird),
    collections
  ) }}
  {{ post.by_year(
    collections._post | byBird(bird),
    collections
  ) }}
{% elif events %}
  {{ layout.title('Events') }}
  <ol reversed>
    {% for event in events -%}
      <li>
        {% if event | isFuture %}
          <strong>Upcoming!</strong>
        {% endif %}
        [{{ event.date | getDate('iso') }}]
        {{ utility.link_if(event.venue, event.url) }} --
        {{ event.adr }}
      </li>
    {% endfor %}
  </ol>
{% endif %}
