{% import 'post.macros.njk' as post %}
{% import 'oss.macros.njk' as oss %}
{% import 'events.macros.njk' as confs %}

{% if index %}
  {% set list = collections[index] %}
  {{ post.by_year(
    list | removePage(page.url) if list else none,
    collections
  ) }}
{% elif bird and (bird != 'oddbird') %}
  {% set this_page = collections.all | getCollectionItem(page) %}
  {% set bird_pages = collections.all | byBird(bird) %}
  {{ confs.list(
    title='Upcoming Events',
    events=bird_pages | concat([this_page]) | getEvents,
    all=false
  ) }}
  {{ oss.list(
    collections.oss | byBird(bird),
    collections
  ) }}
  {{ post.by_year(
    collections._post | byBird(bird),
    collections
  ) }}
{% elif events %}
  {{ confs.list(
    'Events',
    collections.all | getCollectionItem(page) | pageEvents
  ) }}
{% endif %}
