{%- import 'utility.macros.njk' as utility -%}
{%- import 'layout.macros.njk' as layout -%}

{%- set abs_url = page.url | absoluteUrl(site.url) -%}
{%- set mentions = webmentions | mentionsForUrl(abs_url) -%}

{#
  For now, we only show mentions on resource posts and oss pages.
#}
{%- if mentions | length and (is_entry or oss) -%}
<section id="webmentions" data-list="mentions" data-typeset>
  {{ layout.title('Webmentions') }}

  {%- for webmention in mentions -%}
    {%- set attrs = {
      'class': 'webmention h-cite p-comment',
      'id': ['webmention', webmention['wm-id']] | join('-'),
      'data-mention': webmention['wm-property']
    } %}
    <article {{ utility.show_attrs(attrs) }}>
      <header>
        <h3 class="webmention-author p-author h-card">
          {{ utility.link_if(
            content=webmention.author.name,
            url=webmention.url,
            attrs={
              'class': 'u-url',
              'target': '_blank',
              'rel': 'noopener noreferrer'
            }
          ) }}
        </h3>
        <p class='webmention-meta'>
          {{ utility.datetime(
            start=webmention.published,
            pubdate=true
          ) }}
          <i>from</i>
          {{ webmention.url | getDomain }}
        </p>
      </header>

      <div class="webmention-content p-content">
        {{ webmention.content.value | safe }}
      </div>
    </article>
  {% endfor -%}
</section>
{%- endif -%}
