{%- import 'utility.macros.njk' as utility -%}
{%- import 'tags.macros.njk' as tagutils -%}

{% set public_tags = tags | publicTags %}
{% set linked = {
  'venue': venue,
  'url': canonical or url
} if venue else none %}

{% set sub = renderData.sub or sub %}
{% set project_links = project and (project.source or project.docs) %}

{% if sub or public_tags or linked or author or project_links or slides %}
  <div id="meta">
    {% if sub or dates %}
      <p class="subtitle">
        {{ sub | mdInline | safe }}
        {%- if sub and dates %}, {% endif %}
        {{ dates }}
      </p>
    {% endif %}

    {% set by = collections.birds | authorPage(author) if author else none %}
    {% if by or author %}
      <p class="byline">
        <i>by</i>
        {% if by.data %}
          {{ utility.link_if(
            content=by.data.title | mdInline | safe,
            url=by.url,
            class='h-card'
          ) }}
        {% else %}
          {{ author | capitalize }}
        {% endif %}

        {% if linked %}
          <i>at</i>
          {{ utility.link_if(
            content=linked.venue | mdInline | safe,
            url=linked.url,
            attrs={'rel': 'bookmark'}
          ) }}
        {% endif %}

        <i>on</i>
        {{ utility.datetime(
          start=start or date or page.date,
          end=end,
          format='long',
          is_pubdate=pubdate or page.date
        ) }}

        {% if adr %}
          <i>in</i>
          <span class="adr">
            {{ adr | typogr | safe }}
          </span>
        {% endif %}
      </p>
    {% endif %}

    {% if public_tags %}
      <div class="page-tags">
        {% include "icons/tags.svg" %}
        {{ tagutils.tag_list(
          tags=tags,
          all=collections.all
        ) }}
      </div>
    {% endif %}

    {% if project_links or slides %}
      <ul class="page-links">
        {% if slides %}
          <li>{{ utility.link_if('Slides »', slides) }}</li>
        {% endif %}

        {% if project and project.source %}
          <li>{{ utility.link_if('Source Code »', project.source) }}</li>
        {% endif %}
        {% if project and project.docs %}
          <li>{{ utility.link_if('Documentation »', project.docs) }}</li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
{% endif %}
