{%- import 'utility.macros.njk' as utility -%}
{%- import 'tags.macros.njk' as tagutils -%}

{% set public_tags = tags | publicTags %}
{% set elsewhere = {
  'venue': venue,
  'url': url
} if elsewhere else none %}

{% set sub = renderData.sub or sub %}

{% if sub or public_tags or elsewhere or author %}
  <div id="meta">
    {% if sub or dates %}
      <p class="subtitle">
        {{ sub | mdInline('amp') | safe }}
        {%- if sub and dates %}, {% endif %}
        {{ dates }}
      </p>
    {% endif %}

    {% set by = collections.birds | authorPage(author) if author else none %}
    {% if by or author %}
      <p class="byline">
        <i>by</i>
        {% if by.data %}
          {{ utility.link_if(
            content=by.data.title | mdInline('amp') | safe,
            url=by.url,
            class='h-card'}
          ) }}
        {% else %}
          {{ author | capitalize }}
        {% endif %}

        {% if elsewhere %}
          <i>at</i>
          {{ utility.link_if(
            content=elsewhere.venue | mdInline('amp') | safe,
            url=elsewhere.url,
            attrs={'rel': 'bookmark'}
          ) }}
        {% endif %}

        <i>on</i>
        {{ utility.datetime(
          start=start or date or page.date,
          end=end,
          format='long',
          is_pubdate=pubdate or page.date
        ) }}

        {% if adr %}
          <i>in</i>
          <span class="adr">
            {{ adr | typogr | safe }}
          </span>
        {% endif %}
      </p>
    {% endif %}

    {% if public_tags %}
      <div class="page-tags">
        {% include "icons/tags.svg" %}
        {{ tagutils.tag_list(
          tags=tags,
          all=collections
        ) }}
      </div>
    {% endif %}
  </div>
{% endif %}
