{%- import 'utility.macros.njk' as utility -%}
{%- import 'contact.macros.njk' as contact -%}
{%- import 'post.macros.njk' as post -%}

{% set taglist = post.taglist(tags, collections) %}
{% set linklist = post.linklist(links, slides) %}
{% set linked = post.linked(
  venue=venue,
  url=canonical or url
) %}

{% set dates = utility.datetime(
  start=start or page.date,
  end=end,
  format='range',
  prefix=true
) if (bird and bird != 'oddbird') else none %}

{% if sub or linklist or taglist or linked or author or links or slides %}
  <div id="meta">
    {% if is_bird %}
      {{ post.subtitle(
        [sub, '@ OddBird', dates] | join(' ') if dates else sub,
        class='p-role'
      ) }}
    {% else %}
      {{ post.subtitle(
        [sub, dates] | join(', ') if dates else sub
      ) }}
    {% endif %}

    {% if author or client %}
      <p class="byline">
        {{ post.by(author, collections) }}
        {{ linked | safe }}
        {{ post.client(client) }}
        {{ post.pubdate(
          start=page.date,
          end=end,
          format='range' if oss or client or ('_talk' in tags) else 'long'
        ) }}
        {{ post.where(adr) }}
      </p>
    {% elif social %}
      {{ contact.social(
        data=social,
        name=bird | capitalize
      ) }}
    {% endif %}

    {{ taglist | safe }}
    {{ linklist | safe }}
  </div>
{% endif %}
