{%- set post_type = tags | pageType('tag') -%}

{% if post_type and collections[post_type] | length > 0 %}
  <section data-list="tag" data-typeset>
    {{ post.recent_posts(
      post_type,
      collections,
      banner_title=post_type | pageType('plural') or 'Posts',
      page_url=page.url
    ) }}
  </section>
{% endif %}
