{%- set recents_type_tags = [
  'Article',
  'Podcast',
  'Video',
  'Link',
  'Case Study'
] -%}
{%- set tag_ribbon_mapping = {
  'Article': 'Articles',
  'Podcast': 'Podcasts',
  'Video': 'Videos',
  'Link': 'Links',
  'Case Study': 'Case Studies'
} -%}

{% for recent_tag in recents_type_tags %}
  {%- if recent_tag in tags -%}
    {%- if collections[recent_tag] | length > 0 -%}
      <section data-list="tag" data-typeset>
        {{ post.recent_posts(
          collections[recent_tag],
          collections,
          banner_title=tag_ribbon_mapping[recent_tag],
          page_url=page.url
        ) }}
      </section>
    {%- endif -%}

  {%- endif -%}
{% endfor %}
