{%- set tag = related_tag -%}

{% if tag and collections[tag] | removePage(page.url) | length %}
  <section data-list="tag" data-typeset>
    {{ post.related_posts(
      tag,
      collections,
      page_url=page.url
    ) }}
  </section>
{% endif %}
