{% import 'utility.macros.njk' as utility %}
{% import 'layout.macros.njk' as layout %}
{% import 'post.macros.njk' as post %}

{% macro feature(page) %}
  {{ layout.title('Featured Workshop') }}
  <article {{ post.aria_label(page) }} class="feature-workshop">
    {{ post.hero(page.data.image, 'post') }}
    <header class="training-header">
      {{ post.banner(page) }}
      {{ post.subtitle(page.data.sub) }}
      {{ post.byline(page, collections) }}
    </header>

    <div class="training-detail">
      {{ page.data.summary | md | safe }}

      {% if page.data.action %}
        {{ utility.main_action(
          page.data.action.text,
          url=page.data.action.url
        ) }}
      {% endif %}
    </div>
  </article>
{% endmacro %}
