@use '../../../node_modules/accoutrement/sass/tools';
@use '../../../node_modules/sassdoc-theme-herman/scss/utilities' as herman;

/// # Spacing & Size Config
/// Accoutrement maps for storing global spacing and size tokens.
/// @link https://www.oddbird.net/accoutrement/docs/scale.html
///   Accoutrement Scale
/// @group config-scale

// Line Height
// -----------
/// Going for a readable line-height
/// that adapts to context
/// @ratios
/// @group config-scale
$ratios: (
  'line-height': 1.4,
);

// Font Sizes
// ----------
/// @sizes {text}
/// @group config-scale
$font-sizes: (
  'small': 0.8rem,
  'xsmall': 0.7rem,
  'rem': calc(1.25em + 0.5vw),
  'medium': 1.25rem,
  'large': calc(1.5rem + 0.5vw),
  'xlarge': calc(1.75rem + 1vw),
  'h1': '#xlarge',
  'h2': '#large',
  'h3': '#medium',
);

@include tools.add-sizes($font-sizes);
@include herman.herman-add(
  'sizes',
  'font-sizes',
  $font-sizes,
  get-function('size', $module: 'tools')
);

// Spacing Sizes
// -------------
/// @sizes {ruler}
/// @group config-scale
$spacing-sizes: (
  'gutter': 0.75rem,
  'newline': '#gutter',
  'gutter-plus': calc(var(--gutter) * 1.5),
  'double-gutter': calc(var(--gutter) * 2),
  'shim': calc(var(--gutter) / 2),
  'shim-plus': calc(var(--gutter) * 0.75),
  'half-shim': calc(var(--gutter) / 4),
  'quarter-shim': calc(var(--gutter) / 8),
  'spacer': calc(var(--double-gutter) + 3vw),
);

@include tools.add-sizes($spacing-sizes);
@include herman.herman-add(
  'sizes',
  'spacing-sizes',
  $spacing-sizes,
  get-function('size', $module: 'tools')
);

// Theme Sizes
// -----------
// Mostly used as breakpoints when content is asking for css edits
/// @sizes {ruler}
/// @group config-scale
$theme-sizes: (
  'body-inline': calc(var(--quarter-shim) + 4vw),
  'border-width': medium,
  'radius': var(--half-shim),
);

@include tools.add-sizes($theme-sizes);
@include herman.herman-add(
  'sizes',
  'theme-sizes',
  $theme-sizes,
  get-function('size', $module: 'tools')
);

// Page Sizes
// ----------
// Mostly used as breakpoints when content is asking for css edits
/// @sizes {output-only}
/// @group config-scale
$page-sizes: (
  'small-page': 34rem,
  'medium-page': 55rem,
  'large-page': 75rem,
);

@include tools.add-sizes($page-sizes);
@include herman.herman-add(
  'sizes',
  'page-sizes',
  $page-sizes,
  get-function('size', $module: 'tools')
);

// Column Sizes
// ------------
// Columns are used mostly in extend mixin and to declare size of content containers
/// @sizes {output-only}
/// @group config-scale
$column-sizes: (
  'full-content': 40rem,
  'feature-width': calc(40rem + 10vw),
  'extend-xsmall': 70vw,
  'extend-small': 80vw,
  'extend-large': 90vw,
  'extend-full': 100vw,
  'wide-column': 90%,
);

@include tools.add-sizes($column-sizes);
@include herman.herman-add(
  'sizes',
  'column-sizes',
  $column-sizes,
  get-function('size', $module: 'tools')
);
