$gutter: 0.75rem;
$newline--default: '#gutter';
$newline: '#newline--default';
$gutter-plus: calc(var(--gutter) * 1.5);
$double-gutter: calc(var(--gutter) * 2);
$triple-gutter: calc(var(--gutter) * 3);
$shim: calc(var(--gutter) / 2);
$shim-plus: calc(var(--gutter) * 0.75);
$half-shim: calc(var(--gutter) / 4);
$quarter-shim: calc(var(--gutter) / 8);
$spacer: calc(var(--double-gutter) + 3vw);
