---
cta_slug: workshop
title: Resilient Web Training & Consulting
image:
  src: talks/mia-btconf.jpg
  alt: Miriam presenting
  width: 4410
  height: 2159
summary: |
  Take full advantage of the universal web,
  and reduce maintenance over the long term
  with resilient HTML, CSS, and JS systems.
  OddBird provides [custom consulting](/services/)
  and [in-depth trainings](/talks/resilient-systems/)
  on front-end architecture and workflow --
  from advanced HTML/CSS to integrated design systems,
  component libraries, testing, and documentation.
---

{{ summary | md | safe }}

{% import 'embed.macros.njk' as embed %}
{% set default = collections.all | findPage('data.cta_slug', 'default') %}

{{ embed.media_block(
  media=embed.svg('faces/miriam'),
  content=default.templateContent
) }}
