---
title: Tools
banner: Open Source Tools
sub: Support tools that you and million of developers rely on
list_tag: OddTools
action:
  text: Sponsor our open web contributions »
  url: https://opencollective.com/oddbird-open-source
goal:
  title: Support Logical Shorthands in CSS
  author: miriam
  sub: Can we get this process unstuck?
  summary: |
    The CSS Working Group recently resolved to add a size shorthand for setting
    both the width and height of an element. Many people asked about using it to
    set the ‘logical’ inline-size and block-size properties instead. But ‘logical
    shorthands’ have been stalled in the working group for years.

    With a little funding, we could make it happen!
  url: /2025/03/20/logical-shorthand/
  links: |
    - **Demo:** [2-Value Logical Shorthands](https://codepen.io/miriamsuzanne/pen/RNwYrEB)
    - **Progress:** Follow along in [Mia’s public notebook](https://css.oddbird.net/logical/research/)
    - **Article:** [How do we move logical shorthands forward?](/2025/03/27/logical-options/)
    - **Article:** [Why inline-size but padding-inline?](https://css.oddbird.net/logical/research/#why-inline-size-but-padding-inline)
    - **Side Quest:** Should there be physical counterparts for 2-value properties?
      Let us know what you think on [Mastodon](https://front-end.social/@oddbird) 
      or [Bluesky](https://bsky.app/profile/oddbird.dev)!
  image:
      src: blog/2025/closed.jpg
      alt: >
        A chain-link gate in black and white
        with a sign that says
        closed indefinitely,
        and a smaller warning
        with gruesome icons for
        entrapment (a person being smashed)
        and pinching (a hand going through gears)
summary: |
  Since we began, OddBird has contributed to open tools & standards — **focusing
  lately on CSS** and related platform features with Miriam joining the W3C as
  an Invited Expert. **That work takes resources**, making it hard for
  independent contributors like us to stay involved. If you appreciate our work,
  **you (or your company) can sponsor** us directly.
---

{% import 'oss.macros.njk' as oss %}
{% import 'quotes.macros.njk' as quotes %}

{% include 'featured-goal.njk' %}

{{ quotes.find(
  collections.all,
  slugs=['task-force', 'best-in-the-world']
) }}

{{ oss.by_type(
  collections.oss | withActiveAuthor(collections.all),
  collections
) }}
