---
title: Tools
banner: Open Source Tools
sub: We build tools that millions of developers rely on
list_tag: OddTools
action:
  text: Sponsor our open web contributions »
  url: https://opencollective.com/oddbird-open-source
summary: |
  We contribute to open tools & standards when we can,
  giving back to the open web.
  Lately we've had a focus on CSS and related platform features,
  with Miriam joining the W3C as an Invited Expert.
  But that work takes resources,
  making it hard for independent contributors like us
  to stay involved.
  If you appreciate what we're doing,
  you (or your company) can sponsor our work directly.
---

{% import 'oss.macros.njk' as oss %}

{{ oss.by_type(
  collections.oss | withActiveAuthor(collections.all),
  collections
) }}
