name: shadow-push

on: push

jobs:
  push:
    runs-on: ubuntu-latest
    env:
      API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
    steps:
      - uses: actions/checkout@v2
      - name: Set env vars
        run: |
          echo "BRANCH_NAME=${GITHUB_REF##*/}" >> $GITHUB_ENV
          echo NODE_VERSION=`cat .nvmrc` >> $GITHUB_ENV
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
      - run: yarn install
      - run: yarn build
      - name: Push to shadow branch
        uses: cpina/github-action-push-to-another-repository@2ebe0cc15fc6a8e63c3658c119525bf1aead4418
        with:
          source-directory: _site
          destination-github-username: ${{ secrets.SHADOW_OWNER }}
          destination-repository-name: ${{ secrets.SHADOW_REPO }}
          user-email: ${{ secrets.SHADOW_AUTHOR }}
          target-branch: ${{ env.BRANCH_NAME }}
